

/****************** Início CSS Geral *****************/

  @font-face {
    font-family: "Raleway-Regular";
    src: url('../fonts/Raleway-Regular.ttf');
  }

  @font-face {
    font-family: "Raleway-Semi-Bold";
    src: url('../fonts/Raleway-SemiBold.ttf');
  }

  @font-face {
    font-family: "Helvetica-Neue";
    src: url('../fonts/HelveticaNeueLTStd-Roman.otf');
  }

  @font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.ttf');
  }

  @media (min-width: 1800px){
    .sobre-tab{
      margin-left: 56%;
    }
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
  .bold {
    font-weight: bold;
    font-family: 'Raleway-Semi-Bold', 'Raleway-Regular',Lora,'Helvetica Neue',Helvetica,Arial,sans-serif;
  }
  
  a {
    outline:none !!important;
  }
  body {
    width: 100%;
    min-height: calc(100% - 60px);
    font-family: 'Raleway-Regular',Lora,'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #999999;
    background-color: #e5e5e5;
  }

  body.background-white{
    background-color: #FFFFFF;
  }

  .panel-body ul li {
    list-style: none;
  }

  #accordion-menu ul {
    padding-left: 0px;
  }


  #gray-background{
    background-color: #e5e5e5;
  }

  #white-background {
    background-color: #FFFFFF;
  }

  .logo-container img {
    width: 130px;
    position: absolute;
    top: 15px;
  }

  .navbar-custom {
    background-color: #fff;
    height: 60px;
    border-bottom: 0.5px solid #c0c0c0;
    margin-top: -1px;
  }
  .sobre-tab .navbar-nav {
    margin-top: 7px;
  }

  .sobre-item:hover {
    background-color: transparent !important;
    color: #F47839;
  }

  /*.sobre-item.active {*/
    /*color: #F47839;*/
  /*}*/

  .sobre-tab .active .sobre-item {
    color: #F47839;
  }


  .desktop-menu  ul {
    height: 60px;
  }

  .desktop-menu li a {
    padding: 20px 30px;
    text-transform: uppercase;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #888888;
    cursor: pointer;
  }

  .social-icons {
    display: inline-block;
    width: 25px;
    margin: -20px;
    margin-right: 5px;

  }

  .no-padding {
    padding: 0px;
  }
  .inline-block {
    display: inline-block;
  }

  /*#social-item {*/
    /*margin-left: 40px;*/
    /*margin-right: -40px;*/
  /*}*/
  #social-item {
    margin-left: 40px;
    margin-right: 0px;
    margin-top: 22px;
  }

  footer {

  }
  footer p {
    margin: 0px;
    padding: 30px;
    color: #fff;
    font-weight: 500;
    font-family: 'Helvetica-Neue', 'Raleway-Regular', 'Raleway-Semi-Bold', sans-serif;
  }

  footer#white {
    background-color: #2C293B;
  }

  footer#gray {
    background-color: #2C293B;
    color: #fff;
  }

  footer #pillow-footer {
    color:#FECE21;
  }


  .sobre-item {
    text-transform: uppercase;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #888888;
  }

  .sobre-tab{
    display: none;
  }
  
  /*#sobre-tab:hover, .sobre-item:hover {*/
    /*cursor: pointer;*/
  /*}*/

  .desktop-menu .nav li.active a#menu-item {
    /*border-bottom: 0.5px solid #FFFFFF;*/
    /*background-color: #FFFFFF;*/
   /* border-left: 0.5px solid #c0c0c0;
    border-right: 0.5px solid #c0c0c0;*/
    border: 0px;
    color: #F47839;
  }

  .desktop-menu .nav li.active a#sub-menu-item{
    /*border-bottom: 0.5px solid #FFFFFF;*/
    /*background-color: #FFFFFF;*/
   /* border-left: 0.5px solid #c0c0c0;
    border-right: 0.5px solid #c0c0c0;*/
    border: 0px;
    color: #F47839;
    background-color: transparent;
  }
  .desktop-menu .nav li.active#social-item a, .desktop-menu .nav li#social-item a:focus {
    border-right: 0px;
    border-left: 0px;
    background-color: transparent;
  }

  .desktop-menu .nav li a:focus {
    /*border-left: 0.5px solid #c0c0c0;
    border-right: 0.5px solid #c0c0c0;*/
    border:0px;
  }

  a:hover, a:visited, a:link {
    text-decoration: none;
  }

  .desktop-menu li#social-item a:hover {
    background-color: transparent;
  }

  ul.dropdown-menu{
    height: auto;
    padding: 10px;
  }

  li.esf-dropdown-item{
    padding: 10px;

  }

  .desktop-menu li.esf-dropdown-item a{
    padding: 0px;
    font-size: 12px;
  }

  .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
    color: #F47839;
    background-color: #fff;

  }

  .conteudo-title {
    color: #F47839;
    margin-bottom: 15px;
  }
/****************** Fim CSS Geral ********************/

/****************** Início CSS Página Inicial *****************/
  #about-project-button {
    background-color: #F47839;
    border-radius: 0px;
    position: absolute;
    bottom: 5%;
    left: 0;
  }

  #about-project-title {
    vertical-align: middle;
    margin: 0;
    padding: 15px 20px;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 100;
    text-transform: none;
  }
  #about-project-title a:visited,  #about-project-title a, #about-project-title a:focus, #about-project-title a:hover {
    text-decoration: none;
    color: white;
  }
  .row#patrocinadores{
    margin-top: 60px;
    height: 60px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #e5e5e5;
  }
  .patrocinadores-col {
    top:50%;
    transform: translateY(-50%);
  }

  .patrocinadores-col img {
    vertical-align: middle
  }
  #prefeitura-mg {
    width: 20%;
    height: auto;
  }

  #piranhas {
    width: 22%;
    height: auto
  }

  #rems {
    width: 35%;
    height: auto
  }

  #supremo {
    width: 45%;
    height: auto
  }

  #esf-background {
    background-image: url(../img/ESF-header.jpg);
    /*height: 539.5px;*/
    background-size: cover;
    background-position: 15% 0%;
    /* background-clip: padding-box; */
    background-repeat: no-repeat;
    /* position: absolute; */
    /* margin-top: 149px; */
    max-width: 100%;
  }
/****************** Fim CSS Página Inicial ********************/

/****************** Início CSS História *****************/
  .history-image{
    width: initial;
    height: 760px;
    /*background-color: #444;*/
    margin-left: -15px;
    margin-top: 55px;
    background-image: url('../img/ESF-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% center;
  }

  .history-content {
    margin-top: 7%;
  }

  .white-section {

    background-color: #ffffff;
  }

  .saiba-mais-button {

    background-color: #138f45;
    border-radius: 0px;
    margin-top: 5%;
  }

  .saiba-mais-button-title {
    vertical-align: middle;
    margin: 0;
    padding: 15px 20px;
    text-transform: initial;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
  }
/****************** Fim CSS História ********************/

/****************** Início CSS Linha do Tempo *****************/
  #linha-do-tempo-desktop{
    padding-top: 7%;
  }

  .timeline-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .timeline-flex-item {
    flex: 1;
    min-width: 15%;
    margin-right: 10px;
    text-align: center;
  }

  .timeline-day-p {
    padding: 30px;
    font-size: 30px;
    background-color: #888;
    color: #FFFFFF;
  }

  #last-item {
    margin-right: 0px;

  }

  #em-breve-title {
    text-align: center;
    margin-bottom: 5%;
    font-size: 30px;
  }
/****************** Fim CSS Linha do Tempo ********************/

/****************** Início CSS Missão, Visão e Valores *****************/

  #valores-button {
    background-color: #138f45;
    border-radius: 0px;
    margin-bottom: 5%;
  }

  #valores-button-title {
    vertical-align: middle;
    margin: 0;
    padding: 15px;
    text-transform: initial;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
  }

  #missao-section {
    padding-top: 5%;
    margin-top: 60px;
  }

  .round-icon {
    border:2.5px solid #F47839;
    height:100px;
    width:100px;
    margin-bottom:5%;
    border-radius:50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color:#F47839;
  }


  .esf-mvv-icons{
    display: block;
    margin: 0 auto;
    margin-top: 20%;
  }

  #valores {
    margin-top: 18%;
    width: 62%;
    height: auto;
    position: relative;
  }
  .mvv-title{
    text-align:center;
    text-transform: none;
    padding: 5px 0px;
    margin-top: 0px; 
  }
/****************** Fim CSS Missão, Visão e Valores ********************/

/****************** Início CSS Depoimentos *****************/
  .carousel-control .glyphicon-chevron-left, 
  .carousel-control .glyphicon-chevron-right, 
  .carousel-control .icon-prev, .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
    color: #F47839;
  }
  .depoimento-nome{
    text-align: right;
    font-weight: bolder;
    font-size: 16px;
    margin-bottom: 0px;
    color: #F47839;
  }

  .depoimento-id {
    text-align: right;
    font-style: italic;
    margin-bottom: 20%;
  }

  .depoimentos-section {
    padding-top: 7%;
    margin-top: 60px;
  }

  .carousel-control.right, .carousel-control.left {
    background-image: none;
  }

  .carousel-control {
    width: 5%;
  }
  .carousel-control.left{
    margin-left: -5px;
  }

  .carousel-control.right {
    margin-left: -5px;
  }

  #carousel-generic {
    padding: 0px 70px;
    min-height: 500px;
  }

  .carousel-inner {
    height: 100%;
    min-height: 500px;
    margin-top: -4%;
  }

  .depoimentos-image {
    width: 100%;
    height: 220px;
    /*border-radius: 50%; 
    /*border: 0.5px solid #888;*/
    margin: auto;
  }

  #lucimar {
    background-image: url('../img/lucimar-e-filhos.jpg');
    background-clip: content-box;
    background-size: cover;
    background-position: left 0;
  }

  #ana-cecilia {
    background-image: url('../img/ana-cecilia.jpg');
    background-clip: content-box;
    background-size: cover;
    background-position: left -60px;
  }

  #flavio {
    background-image: url('../img/representante-esf-al.jpg');
    background-clip: content-box;
    background-size: cover;
    background-position: 62% 0;
  }

  #maria-lages {
    background-image: url('../img/maria-lages.JPG');
    background-clip: content-box;
    background-size: cover;
    background-position: left 0;
  }

  #rui-ferraz {
    background-image: url('../img/rui-ferraz.jpg');
    background-clip: content-box;
    background-size: cover;
    background-position: 22% center;
  }


  .video-thumbnail {
    height: 300px;
    width: 560px;
    background-image: url('../img/frederico-thumbnail-min.png');
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    /*margin-top: 20%;*/
    display: block;

  }

  .video-thumbnail#flavio {
    height: 300px;
    width: 560px;
    background-image: url('../img/flavio-thumbnail-min.png');
    background-position: center;
    background-size: cover;
  }

  .play-button {
    font-size: 110px !important;
    color: rgba(212, 212, 212, 0.84);
    left: 42%;
    position: absolute;
    top: 23%;
  }

  .video-thumbnail:hover, 
  .play-button:hover {
    cursor: pointer;
  }

  .play-button:hover {
    color: rgba(138, 138, 138, 0.84);
  }

  .modal {
    text-align: center;
    padding: 0!important;
  }

  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

  #myModal .modal-content, #myModal2 .modal-content {
    height:336px;
    border-radius: 0px;
  }

  #myModal .modal-header, #myModal2 .modal-header {
    border-bottom: 0px;
  }

  #myModal .modal-header .close, #myModal2 .modal-header .close {
    font-size: 40px;
    margin-top: -4px;
  }

  #myModal .video-inner, #myModal2 .video-inner {
    /*height: 300px;*/
    width:100%;
    margin-top: -1px;
  }

  #myModal .modal-body, #myModal2 .modal-body {
    padding:0px;
  }

  .depoimento {

    margin-top: 20%;
  }
/****************** Fim CSS Depoimentos ********************/

/****************** Início CSS Ações *****************/
  .acao-title {
    font-size: 24px;
    text-transform: none;
    text-align: center;
  }

  .acao-button {
    background-color: #F47839;
    padding: 16px 0px;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10%;
    width: 75%;
    margin: auto;
  }

  .acao-button:hover, .acao-button:focus, .acao-button:active {
    text-decoration: none;
  }

  #acoes-section{
    padding-top:3%;
    margin-top: 60px;
  }
/****************** Fim CSS Ações ********************/

/****************** Início CSS Notícias *****************/
  .date-wrapper {
    background-color: #888;
    height: 100px;
    width: 90px;
  }

  .day-wrapper {
    background-color: #ffffff;
    color: #888;
    width: 80px;
    height: 50px;
    margin: auto;
    font-family: 'Roboto', Arial;
    font-size: 40px;
    text-align: center;
    left: 20px;
    position: absolute;
    margin-top: 5px;
    font-weight: bold;
  }

  .infos {
    color: #ffffff;
    position: absolute;
    top: 60px;
    left: 20px;
    text-align: center;
    width: 80px;
    font-family: 'Roboto', Arial;
    font-weight:bolder;
    font-size: 14px;

  }

  .midia-title{
    font-size: 17px;
    text-transform: none;
    font-weight: bold;
    font-family: "Roboto", Arial, sans-serif;
    margin: 0px 0px;
    margin-left: -10px;
    margin-bottom: 15px;
    color: #888;
    letter-spacing: normal;
  }
  #midia-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .midia-item {
    margin: 0 2.5%;
    /*margin-top: 5%;*/
    /*margin-bottom: 5%;*/
    max-width: 15%;
    flex-grow: 1;

  }
  .midia-button{
    font-size: 18px;
    text-align: center;
    padding: 15px;
    margin: 0px 0px;
    background: #F47839;
    /*margin-left: -10px;*/
    color: #ffffff;
    text-transform: none;
    letter-spacing: normal;
    font-family: "Roboto", Arial, sans-serif;
  }

  #midia-section {
    padding-top: 3%;
    margin-top: 60px;
  }


  .noticia-title{
    font-size: 18px;
    margin-bottom: 15px;
  }

  .noticia-imagem{
    width:100%;
    height: 110px;
    background-color: #888;
  }

  .noticia-content{
    margin: 15px 0px;
  }

  #midia-em-breve {
    font-size: 40px;
    text-align: center;
  }
/****************** Fim CSS Notícias ********************/

/****************** Início CSS Apoie *****************/
  .apoie-section {
    padding-top:3%;
    margin-top: 60px;
  }
  .apoie-header {

    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
  }

  .apoie-content {
    padding: 0px 10px;
    text-align: justify;
  }

  .apoie-header#financiador{
    color: #5EAEDF;
  }

  .apoie-header#apoiador {
  color: #61BF7A;
  }

  .apoie-header#colaborador {
    color: #B22A90;
  }

  .apoie-header#tecnico{
    color: #BE4534;
  }

  
  #accordion-financiador-desktop, #accordion-apoiador-desktop{
    margin-left:-15px;
  }

  #accordion-tecnico-desktop,#accordion-colaborador-desktop {
      margin-right: -15px;
  }   

  .accordion-group {
    margin-bottom: 4px;
  }


  .accordion-heading {
    padding: 16px 20px;
    background-color: white;
    text-align: left;
  }

  .accordion-heading a {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
  }

  /*.accordion-heading a:focus{
      background-color: #bcbec0;
  }*/
  #financiador-heading-desktop, #financiador-button {
    background-color: #5EAEDF;
  }

  #apoiador-heading-desktop, #apoiador-button {
    background-color: #61BF7A;

  }

  #colaborador-heading-desktop, #colaborador-button {
    background-color: #B22A90;

  }

  #tecnico-heading-desktop, #tecnico-button {
    background-color: #BE4534;

  }

  .accordion-heding a:focus, .accordion a:hover{
    /**/
  }

  /*.accordion-body {
      padding: 15px 20px;
  }*/

  .accordion-inner {
    text-align: justify;
    padding: 15px 20px;
  }

  #apoiador-button, #financiador-button, #tecnico-button, #colaborador-button {
    border-radius: 0px;
    width: 95%;
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom: 5%;
    display: block;

  }

  .apoie-button-title {
    vertical-align: middle;
    margin: 0;
    padding: 15px;
    text-transform: initial;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
  }

  .apoie-caret{
    color: #FFFFFF;
    padding-left: 6px;
    font-size: 16px;
  }
/****************** Fim CSS Apoie ********************/

/****************** Início CSS Contato *****************/
  #contato-heading {
    text-transform: none;
    padding: 30px 0px;
    font-size: 30px;
    font-weight: 100;
    color: #888;
    text-align: center;
  }

  #contato-section {
    /*padding-top: 3%;*/
    margin-top: 60px;
  }

  #contato-form input::-webkit-input-placeholder, #contato-form textarea::-webkit-input-placeholder {
    font-style: italic;
    color: #737373;
  }

  #contato-form input:-moz-placeholder, #contato-form textarea:-moz-placeholder {
    font-style: italic;
    color: #737373;
  }

  #contato-form input::-moz-placeholder, #contato-form textarea::-moz-placeholder {
    font-style: italic;
    color: #737373;
  }

  #contato-form input:-ms-input-placeholder, #contato-form textarea:-ms-input-placeholder {
    font-style: italic;color: #737373;
  }

  #contato-form input {
    width: 100%;
    background-color: #CCCCCC;
    border: 0px;
    margin-bottom: 5%;
    padding: 3% 0%;
    padding-left: 4%;
    color: #515354;
  }

  #contato-form textarea {
    width: 100%;
    background-color: #CCCCCC;
    border: 0px;
    margin-bottom: 5%;
    padding: 2% 4%;
    padding-bottom: 20%;
    resize: none;
    color: #515354;
  }

  #contato-form #submit-button{
    width: 100%;
    background-color: #F47839;
    color: #FFFFFF;
    border: 0px;
    margin-top: -5px;
    padding: 3%;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold
  }
/****************** Fim CSS Contato ********************/

@media (min-width: 1400px){
  #prefeitura-mg {
    width: 15%;
    height: auto;
  }
  #piranhas {
    width: 18%;
    height: auto
  }

}
