/*********** CSS Site mobile Esporte Sem Fronteiras ***********/
/*********** Criando por Pillow Aceleradora em 2016 ***********/
/*********** Frontend: Arthur Pires; **************************/
/*********** Design: Paula Frossard; **************************/
/*********** Backend: Fabricio Souza **************************/


/* ----------- iPhone 4 and 4S ----------- */

	/* Portrait and Landscape */
	@media only screen 
	  and (min-width: 320px) 
	  and (max-width: 480px)
	  and (-webkit-min-pixel-ratio: 2) {

	}

	/* Portrait */
	@media	(min-width: 320px) 
	  		and (max-width: 480px) {

	/****************** Início do CSS Geral *******************/

		body {
			color: #000000;
		}


		.hidden-desktop {
			display: block;
		}

		.hidden-mobile {
			display: none;
		}

		#missao-section {
			padding-top: 25%;
		}

		.pagina-title {
			position: absolute;
			top: 47%;
			left: 45%;
			width: 135%;
			color: #FFFFFF;
			font-family: 'Helvetica-Neue','Raleway-Semi-Bold';
			font-size: 15px;
			text-transform: uppercase;
			margin-top: 5px;
		}

		#circulo-logo {
			width: 20%;
		}

		.container {
			overflow-x: hidden;
		}
		.social-icons img {
			color: white;
			margin-top: 5%;
			width: 45%;
			height: auto;
		}
		.social-icons#facebook {
			padding-right: 0px;
			margin-left: 5%;
			width: 16%;
			margin-top: 22px;
		}
		.social-icons#instagram{
			padding-left: 0px;
			margin-left: -15px;
			width: 16%;
			margin-top: 22px;
		}

		.logo-container {
			max-height: 67.5px;
		}
		.logo-container img {
			max-width: 120%;
			width: 75%;
			top: 0px;
			margin-top: 22px;
		}
		#instagram-logo {
			float: right;
		}

		#facebook-logo {
			float: right;
		}

		.navbar-toggle {

			margin-top: 12px;
		}

		#valores-button {
			background-color: #138f45;
			border-radius: 0px;
			margin-bottom: 5%;
			margin-top: 4%;
		}

		#valores-button-title {
			vertical-align: middle;
			margin: 0;
			padding: 20px;
			text-transform: initial;
			font-weight: 400;
			color: #FFFFFF;
			text-align: center;
			font-size: 18px;
		}

		#buttons-row {
			/*margin-top: 4%;*/
		}

		#facebook-button {
			background-color:#3b5998;
			border-radius: 4px;
			margin-top: 5%;
		}
		#facebook-button i {
			color:white;
			font-size:30px;
			vertical-align:middle;
			padding:10px
		}

		#facebook-button i, #twitter-button i {
			text-align: center;
		}

		#twitter-button i {
			color:white;
			font-size:30px;
			vertical-align:middle;
			padding:10px;
			display:inline-block
		}

		#twitter-button {
			background-color:#4099FF;
			border-radius: 4px;
			margin-top: 5%;
		}

		.navbar-custom a {
			color:#F47839;
		}

		.navbar-custom {
			background-color: transparent;
			height: 67.5px;
			border-bottom: 0px;
			margin-top: 0px;
		}
		#accordion-menu .panel-title a {
			 color: #FFFFFF;
			 text-transform: none;
			 font-weight: 100;
		 }

		#accordion-menu .panel-title i {
			color: #F47839;
			font-size: 15px;
			padding-right: 6px;
		}
		.navbar-custom a:hover {
			text-decoration: none;
		}
		.navbar-collapse-mobile{
			margin-left: -15px;
			margin-right: -15px;
		}

		.navbar-header {
			background-color: transparent;
		}

		.navbar-custom {
			background-color: #F47839;
			margin-top: -1px;
		}

		.fa-bars {
			color: white;
			font-size: 2em;
		}

		.panel-default>.panel-heading {
			color: #333;
			background-color: #515354;
			border-color: transparent;
			border: 0px;
			border-radius: 0px;
			padding: 10px 20px;
			width: 100%;
			border-top: 0px;
		}
		.panel-default>.panel-heading+.panel-collapse>.panel-body {
			background-color: #e5e5e5;
			padding: 0px;

		}
		.panel-body ul {
			margin-left: -15px;
			margin-right: -15px;
			margin-bottom: 0px;

		}

		.panel-group {
			margin-bottom: 0px;
			background-color: #515354;
		}
		.panel-body ul li {
			padding-left: 25px;
			border-bottom: 0.5px solid #bfbfbf;
			padding-bottom: 8px;
			padding-top: 8px;
		}

		.panel-body li a {
			color: #252525;
			text-transform: initial;
			font-size: 14px;
		}

		.panel-group .panel {
			margin-bottom: 0px;
			border-radius: 0px;
			margin-top:0px !important;
			border: 0px;
			border-bottom: 0.5px solid #737373;
			background-color: #515354;
		}


		.panel-title {
			padding-left: 5px;
			font-size: 16px;
		}

		.panel-title a {
			text-indent: -10px;
		}

		/***** Início CSS da barra de pesquisa ******/
		/*.navbar .col-xs-6 {
            top:50%;
            transform: translateY(-50%);
            position: absolute;
            left: 10%;
        }*/

		#esf-pesquisa input {
			border-radius: 0px;
			border-color: transparent;
			box-shadow: none;
			height: 40px;
			background-color: #696769;
		}
		#esf-pesquisa span .btn-default{
			border-radius: 0px;
			border-color: transparent;
			margin-left: -2px;
			height: 40px;
			background-color: #696769;

		}

		#esf-pesquisa i.fa-search {
			color: #F47839;
			font-size: 1.5em;
		}

		#esf-pesquisa ::-webkit-input-placeholder{
			font-style: italic;
			color: #FFFFFF;
		}

		#esf-pesquisa {

			margin-top: 10%;
			margin-bottom: 15%;

		}
		/***** Fim CSS da barra de pesquisa ******/

		/* The Overlay (background) */
		.overlay {
			/* Height & width depends on how you want to reveal the overlay (see JS below) */
			height: 100%;
			width: 0;
			position: fixed; /* Stay in place */
			z-index: 1; /* Sit on top */
			right: 0;
			top: 0;
			background-color: #515354;
			overflow-x: hidden; /* Disable horizontal scroll */

			transition: 0.3s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
		}
		#close-menu {
			position: absolute;
			top: 20px;
			left: 90%;
			font-size: 20px;
		}

		/*.overlay-content {
            position: relative;
            top: 25%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
        }*/

		#mobile-menu {
			background-color: #ECEDED;
			margin-bottom: 5%;
			height: 67.5px;
		}

		#mobile-menu .row{
			max-width: 100%;
		}

		.sub-menu {
			color:#000;
			padding: 6px;
			font-size: 12px;
		}
	/****************** Fim do CSS Geral **********************/

	/****************** Início Página Inicial **********************/
		#pagina-inicial {
			padding-top: 20%;
		}
		#secao-inicial .row#patrocinadores{
			margin-top:67.5px;
			height: 60px;
			background-color: #FFFFFF
		}
		.patrocinadores-col {
			top:50%;
			transform: translateY(-50%);
		}

		#prefeitura-mg{
			width: 50%;
		}
		#piranhas{
			width: 65%;
		}
		#rems{
			width: 90%;
		}
		#supremo{
			width: 100%;
		}
		#hr-top {
			margin-top: 4px;
			margin-bottom: 0px;
			position: absolute;
			width: 100%;
			border: 1px solid #F47839;
		}
		#hr-bottom {
			position: absolute;
			margin-top: 53px;
			width: 100%;
			border: 1px solid #F47839;
		}

		#about-project-button {
			background-color: #F47839;
			border-radius: 0px;
			position: relative;
			bottom: 0%;
			left: 0;
			margin-top: 80%;
		}

		#about-project-title {
			vertical-align: middle;
			margin: 0;
			padding: 10px 15px;
			text-align: center;
			font-size: 16px;
			color: #FFFFFF;
			font-weight: 100;
			text-transform: none;
		}
		#about-project-title a:visited,  #about-project-title a, #about-project-title a:focus, #about-project-title a:hover {
			text-decoration: none;
			color: white;
		}

		#esf-background {
			background-image: url(../img/ESF-header.jpg);
			/*height: 539.5px; !* Refazer no js - calcular tamanho da h da tela e tirar do tamanho do menu e do banner inferior(patrocinadores)*!*/
			background-size: cover;
			background-position: 15% center;
			/* background-clip: padding-box; */
			background-repeat: no-repeat;
			/* position: absolute; */
			/* margin-top: 149px; */
			max-width: 100%;
		}
	/****************** Fim Página Inicial **********************/

	/****************** Início Página História **********************/
		.saiba-mais-button {

			background-color: #138f45;
			border-radius: 0px;
			margin-bottom: 5%;
			margin-top: 5%;

		}

		.saiba-mais-button-title {
			vertical-align: middle;
			margin: 0;
			padding: 20px;
			text-transform: initial;
			font-weight: 400;
			color: #FFFFFF;
			text-align: center;
			font-size: 15px;
		}
		.historia-section{
			padding-top:25%;
		}

		.historia-image {
			height: 250px;
			border: 1px solid #e5e5e5;
			margin-bottom: 5%;
			background-image: url('../img/ESF-header.jpg');
			background-clip: content-box;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat ;
		}
	/****************** Fim Página História **********************/

	/****************** Início Página Depoimentos **********************/
		.depoimento-nome{
			text-align: right;
			font-weight: bolder;
			font-size: 14px;
			margin-bottom: 0px;
			color: #F47839;
		}

		.depoimento-id {
			text-align: right;
			font-style: italic;
			margin-bottom: 20%;
			font-size: 13px;
			color: #777;
		}

		.depoimentos-section{
			padding-top:25%;
		}

		.depoimentos-section p {
			font-size: 15px;
		}

		.depoimentos-image {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			/*border: 0.5px solid #888;*/
			margin: auto;
		}

		#lucimar {
			background-image: url('../img/lucimar-e-filhos.jpg');
			background-clip: content-box;
			background-size: cover;
			background-position: left 0;
		}

		#ana-cecilia {
			background-image: url('../img/ana-cecilia.jpg');
			background-clip: content-box;
			background-size: cover;
			background-position: left 0;
		}

		#flavio {
			background-image: url('../img/representante-esf-al.jpg');
			background-clip: content-box;
			background-size: cover;
			background-position: 62% 0;
		}

		#maria-lages {
			background-image: url('../img/maria-lages.JPG');
			background-clip: content-box;
			background-size: cover;
			background-position: left 0;
		}

		#rui-ferraz {
			background-image: url('../img/rui-ferraz.jpg');
			background-clip: content-box;
			background-size: cover;
			background-position: 22% center;
		}
	/****************** Fim Página Depoimentos **********************/

	/****************** Início Página Linha do tempo *******************/

		.arrowElement {
			color:white;
			font-size: 20px;
			text-indent: 5px;
		}

		#linha-do-tempo-section {
			padding-top:25%;
			/*height: 100%;*/
			display: table;
			width: 100%;
			height: 100%;
			padding:0;
			text-align: center;
			color: #fff;

		}

		#linha-do-tempo-section .container {
			/*height: 100%;*/
			display: table-cell;
			vertical-align: top;
			padding-top: 25%;
		}

		/*#linha-do-tempo-section .panel:last-child {
            margin-bottom: 10%;
        }*/

		#accordion-timeline.panel-group{
			background-color: transparent;
		}

		#accordion-timeline .panel-title  {
			text-align: center;
			padding:10px;
		}

		#accordion-timeline .panel-title a {
			font-size: 24px;
			color: white;
		}
		#accordion-timeline .panel-title a:active {
			color: white;
		}
		#accordion-timeline .panel-default {
			border: none;
			border-radius: 0px;
			background-color: transparent;
			margin-bottom: 10px;
		}
		#accordion-timeline .panel-heading {
			border-radius: 0px;
		}

		.timeline-year{
			font-family: Roboto, Arial;
		}

		#accordion-timeline .panel-title .timeline-year {
			line-height: 60px;
			font-size: 32px;
			font-weight: 300;
		}

		.panel-group#accordion-timeline {
			margin-left: -15px;
			margin-right: -15px;
		}

		.timeline .timeline-item:after, .timeline .timeline-item:before {
			content: '';
			display: block;
			width: 100%;
			clear: both;
		}

		.timeline-content p {
			color: black;
			margin-top: -2px;
		}

		*, *:before, *:after {
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
		}

		.timeline-container {
			max-width: 1100px;
			margin: 0 auto;
		}

		.project-name {
			text-align: center;
			padding: 10px 0;
		}

		.timeline {
			width: 100%;
			margin: 30px auto;
			position: relative;
			padding: 0 10px;
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			-ms-transition: all 0.4s ease;
			transition: all 0.4s ease;
		}

		.timeline:before {
			content: "";
			width: 3px;
			height: 100%;
			background: #ee4d4d;
			left: 15%;
			top: 0;
			position: absolute;
		}

		.timeline:after {
			content: "";
			clear: both;
			display: table;
			width: 100%;
		}
		.timeline-year:hover {
			text-decoration: none;
		}
		.timeline .timeline-item {
			margin-bottom: 50px;
			position: relative;
		}

		.timeline .timeline-item .timeline-icon {
			background: #e5e5e5;
			width: 15px;
			height: 15px;
			position: absolute;
			top: 0;
			left: 18%;
			overflow: hidden;
			margin-left: -23px;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			border-radius: 50%;
		}

		.timeline .timeline-item .timeline-icon svg {
			position: relative;
			top: 14px;
			left: 14px;
		}

		.timeline .timeline-item .timeline-content {
			width: 74%;
			background: #e5e5e5;
			padding: 20px;
			/*-webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);*/
			/*-moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);*/
			/*-ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);*/
			/*box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);*/
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-ms-border-radius: 5px;
			border-radius: 5px;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}

		.timeline .timeline-item .timeline-content h2 {
			padding: 15px;
			font-size: 20px;
			background: #e5e5e5;
			color: #444444;
			margin: -20px -20px 0 -20px;
			font-weight: 300;
			-webkit-border-radius: 3px 3px 0 0;
			-moz-border-radius: 3px 3px 0 0;
			-ms-border-radius: 3px 3px 0 0;
			border-radius: 3px 3px 0 0;
		}

		.timeline .timeline-item .timeline-content:before {
			/*content: '';*/
			/*position: absolute;*/
			/*left: 45%;*/
			/*top: 20px;*/
			/*width: 0;*/
			/*height: 0;*/
			/*border-top: 7px solid transparent;*/
			/*border-bottom: 7px solid transparent;*/
			/*border-left: 7px solid #ee4d4d;*/
		}

		.timeline .timeline-item .timeline-content.right {
			float: right;
			width: 80%;
			padding-top: 0px;
			padding-left: 5px;
			padding-right: 5px;
			text-align: justify;
		}

		.timeline .timeline-item .timeline-content.left {
			width: 10%;
			padding-top: 5px ;
			padding-left: 0px;
		}

		.timeline .timeline-item .timeline-content h2.month-name{
			margin-right: 6px;
			font-size: 14px ;
		}

		.timeline .timeline-item .timeline-content.right:before {
			/*content: '';*/
			/*right: 73.5%;*/
			/*left: inherit;*/
			/*border-left: 0;*/
			/*border-right: 7px solid #ee4d4d;*/
		}

		/* Início linha do tempo 2016 */
		#collapse-2016 .timeline:before {
			content: "";
			width: 3px;
			height: 100%;
			background: #369C41;
			left: 15%;
			top: 0;
			position: absolute;
		}
		#collapse-2016 .timeline .timeline-item .timeline-icon {
			border: 2px solid #369C41;
		}
		#collapse-2016 .timeline .timeline-item .timeline-content.right:before {
			border-right: 7px solid #369C41;
		}
		/* Fim linha do tempo 2016 */

		/* Início linha do tempo 2015 */
		#collapse-2015 .timeline:before {
			content: "";
			width: 3px;
			height: 100%;
			background: #369C41;
			left: 15%;
			top: 0;
			position: absolute;
		}
		#collapse-2015 .timeline .timeline-item .timeline-icon {
			border: 2px solid #369C41;
		}
		#collapse-2015 .timeline .timeline-item .timeline-content.right:before {
			border-right: 7px solid #369C41;
		}
		/* Fim linha do tempo 2015 */

		/* Início linha do tempo 2014 */
		#collapse-2014 .timeline:before {
			content: "";
			width: 3px;
			height: 100%;
			background: #2782A2;
			left: 15%;
			top: 0;
			position: absolute;
		}
		#collapse-2014 .timeline .timeline-item .timeline-icon {
			border: 2px solid #2782A2;

		}

		#collapse-2014 .timeline .timeline-item .timeline-content.right:before {
			border-right: 7px solid #2782A2;
		}
		/* Fim linha do tempo 2014 */

		/* Início linha do tempo 2013 */
		#collapse-2013 .timeline:before {
			content: "";
			width: 3px;
			height: 100%;
			background: #A1275B;
			left: 15%;
			top: 0;
			position: absolute;
		}
		#collapse-2013 .timeline .timeline-item .timeline-icon {
			border: 2px solid #A1275B;
		}

		#collapse-2013 .timeline .timeline-item .timeline-content.right:before {
			border-right: 7px solid #A1275B;
		}
		/* Fim linha do tempo 2013 */
		.timeline-mobile-title {
			font-size: 16px;
			color: #666;
		}

		.year-container {
			/*background-color: #c0c0c0;*/
			margin-top: 15px;
		}

		.year-itself {
			color: #fff;
			font-size: 25px;
			padding: 10px;
			background-color: #888;
			font-family: 'Roboto', sans-serif;
		}
	/****************** Fim Página Linha do tempo **********************/

	/****************** Início Página Contato **********************/
		#contato-section {
			margin-top: 67.5px;
		}
		#contato-heading {
			text-transform: none;
		    padding: 0px 0px;
		    font-size: 20px;
		    font-weight: 100;
		    margin-top: -15%;
		    padding-bottom: 10px;
		}

		#contato-form input::-webkit-input-placeholder, #contato-form textarea::-webkit-input-placeholder {
			font-style: italic;
		}

		#contato-form input:-moz-placeholder, #contato-form textarea:-moz-placeholder {
			font-style: italic;
		}

		#contato-form input::-moz-placeholder, #contato-form textarea::-moz-placeholder {
			font-style: italic;
		}

		#contato-form input:-ms-input-placeholder, #contato-form textarea:-ms-input-placeholder {
			font-style: italic;
		}

		#contato-form input {
			width: 100%;
			background-color: #CCCCCC;
			border: 0px;
			margin-bottom: 5%;
			padding: 3% 0%;
			padding-left: 4%;
		}

		#contato-form textarea {
			width: 100%;
			background-color: #CCCCCC;
			border: 0px;
			margin-bottom: 5%;
			padding: 2% 4%;
			padding-bottom: 20%;
			resize: none;
		}

		#contato-form input, #contato-form textarea, #contato-form #submit-button {
			border-radius: 0px;
		}

		#contato-form #submit-button{
			width: 100%;
			background-color: #F47839;
			color: #FFFFFF;
			border: 0px;
			margin-top: -5px;
			padding: 3%;
			padding-left: 3%;
			margin-bottom: 20px;
			font-size: 16px;
			font-weight: bold
		}

		#contato-header{
			width:100%;
			height: 150px;
			/*border:1px solid black;*/
			background-image: url(../img/ESF-header.jpg);
			background-clip: content-box;
			background-size: cover;
			background-position: center 5%;
		}
	/****************** Fim Página Contato **********************/

	/****************** Início Página Apoie **********************/
		#accordion-apoie {
			margin: 0px -15px;
		}

		.accordion-group {
			margin-bottom: 4px;
		}

		.accordion-heading {
			padding: 8px 20px;
			background-color: white;
			text-align: left;
		}

		.accordion-heading a {
			text-decoration: none;
			font-size: 20px;
			text-transform: uppercase;
			font-weight: bold;
			color: #FFFFFF;
		}

		/*.accordion-heading a:focus{
            background-color: #bcbec0;
        }*/
		.accordion-heading.active, #financiador-heading.active,
		#colaborador-heading.active, #apoiador-heading.active,
		#tecnico-heading.active{
			background-color: gray;
		}

		#financiador-heading {
			background-color: #5EAEDF;

		}

		#apoiador-heading {
			background-color: #61BF7A;

		}

		#colaborador-heading {
			background-color: #B22A90;

		}

		#tecnico-heading {
			background-color: #BE4534;

		}

		.accordion-heding a:focus, .accordion a:hover{
			/**/
		}

		/*.accordion-body {
            padding: 15px 20px;
        }*/

		.accordion-inner {
			text-align: justify;
			padding: 15px 20px;
		}

		#apoie-button {
			background-color: #F47839;
			border-radius: 0px;
			margin-bottom: 5%;
			margin-top: 8%;
		}

		#apoie-button-title {
			vertical-align: middle;
			margin: 0;
			padding: 20px;
			text-transform: initial;
			font-weight: 400;
			color: #FFFFFF;
			text-align: center;
			font-size: 18px;
		}

		.apoie-caret{
			color: #FFFFFF;
			padding-left: 6px;
			font-size: 16px;
		}
	/****************** Fim Página Apoie **********************/

	/****************** Início Página Ações **********************/
		.acao-title {
			font-size: 24px;
			text-transform: none;
			text-align: center;
		}

		.acao-button {
			background-color: #F47839;
			padding: 12px 6px;
			font-size: 20px;
			text-align: center;
			color: #FFFFFF;
			margin-bottom: 10%;
		}

		.acao-button:hover, .acao-button:focus, .acao-button:active {
			text-decoration: none;
		}

		#acoes-section{
			padding-top:25%;
		}
	/****************** Fim Página Ações **********************/

	/****************** Início Página Notícias **********************/
		/*.date-wrapper {*/
		/*background-color: #888;*/
		/*height: 100px;*/
		/*width: 90px;*/
		/*}*/

		/*.day-wrapper {*/
		/*background-color: #ffffff;*/
		/*color: #888;*/
		/*width: 80px;*/
		/*height: 50px;*/
		/*margin: auto;*/
		/*font-family: 'Roboto', Arial;*/
		/*font-size: 40px;*/
		/*text-align: center;*/
		/*left: 20px;*/
		/*position: absolute;*/
		/*margin-top: 5px;*/
		/*font-weight: bold;*/
		/*}*/

		/*.infos {*/
		/*color: #ffffff;*/
		/*position: absolute;*/
		/*top: 60px;*/
		/*left: 20px;*/
		/*text-align: center;*/
		/*width: 80px;*/
		/*font-family: 'Roboto', Arial;*/
		/*font-weight:bolder;*/
		/*font-size: 14px;*/

		/*}*/

		.midia-title{
			font-size: 17px;
			text-transform: none;
			font-weight: bold;
			font-family: "Roboto", Arial, sans-serif;
			margin-left: -5px;
			color: #888;
			letter-spacing: normal;
		}

		.midia-button{
			font-size: 18px;
			text-align: center;
			padding: 15px;
			background: #F47839;
			margin-left: -5px;
			color: #ffffff;
			text-transform: none;
			letter-spacing: normal;
		}

		.midia-item{
			margin-top: 10%;
			margin-bottom: 5%;
		}

		#midia-section{
			margin-top:67.5px;
			background-color: #fff;
			padding-top: 0px;
		}

		#midia-header{
			width:100%;
			height: 150px;
			/*border:1px solid black;*/
			background-image: url(../img/ESF-header.jpg);
			background-clip: content-box;
			background-size: cover;
			background-position: center 5%;
		}

		#midia-em-breve {
		    font-size: 26px;
		    text-align: center;
	  	}
	/****************** Fim Página Notícias **********************/

	}

	
	  
/* ----------- iPhone 6 ----------- */



	/* Portrait */
	@media (min-width: 375px) 
	  		and (max-width: 667px) { 
	
	/****************** Início do CSS Geral *******************/

		body {
			color: #000000;
		}


		.hidden-desktop {
			display: block;
		}

		.hidden-mobile {
			display: none;
		}

		#missao-section {
			padding-top: 25%;
		}

		.pagina-title {
			position: absolute;
		    top: 45%;
		    left: 42%;
		    width: 135%;
		    color: #FFFFFF;
		    font-family: 'Helvetica-Neue','Raleway-Semi-Bold';
		    font-size: 17px;
		    text-transform: uppercase;
			margin-top: 5px;
		}

		#circulo-logo {
			width: 20%;
		}

		.container {
			overflow-x: hidden;
		}
		.social-icons img {
			color: white;
			margin-top: 5%;
			width: 45%;
	   	 	height: auto;
		}
		.social-icons#facebook {
			padding-right: 0px;
			margin-left: 8%;
			width: 16%;
			margin-top: 19px;
		}
		.social-icons#instagram{
			padding-left: 0px;
			margin-left: -15px;
			width: 16%;
			margin-top: 19px;
		}

		.logo-container {
			max-height: 67.5px;
		}
		.logo-container img {
			max-width: 120%;
			width: 80%;
			top: 0px;
			margin-top: 20px;
		}
		#instagram-logo {
			float: right;
		}

		#facebook-logo {
			float: right;
		}

		.navbar-toggle {

			margin-top: 12px;
		}
		
		#valores-button {
			background-color: #138f45;
			border-radius: 0px;
			margin-bottom: 5%;
			margin-top: 4%;
		}

		#valores-button-title {
			vertical-align: middle;
			margin: 0;
			padding: 20px;
			text-transform: initial;
			font-weight: 400;
			color: #FFFFFF;
			text-align: center;
			font-size: 18px;
		}

		#buttons-row {
			/*margin-top: 4%;*/
		}

		#facebook-button {
			background-color:#3b5998;
			border-radius: 4px;
			margin-top: 5%;
		}
		#facebook-button i {
			color:white; 
			font-size:30px; 
			vertical-align:middle;
			padding:10px
		}

		#facebook-button i, #twitter-button i {
			text-align: center;
		}

		#twitter-button i {
			color:white; 
			font-size:30px;
			vertical-align:middle;
			padding:10px;
			display:inline-block
		}

		#twitter-button {
			background-color:#4099FF;
			border-radius: 4px;
			margin-top: 5%;
		}

		.navbar-custom a {
			color:#F47839;
		}

		.navbar-custom {
			background-color: transparent;
			height: 67.5px;
			border-bottom: 0px;
			margin-top: 0px;
		}
		#accordion-menu .panel-title a {
			color: #FFFFFF;
			text-transform: none;
			font-weight: 100;
		}
		#accordion-menu .panel-title i {
			color: #F47839;
			font-size: 15px;
			padding-right: 6px;
		}
		.navbar-custom a:hover {
			text-decoration: none;
		}
		.navbar-collapse-mobile{
			margin-left: -15px;
			margin-right: -15px;
		}

		.navbar-header {
			background-color: transparent;
		}

		.navbar-custom {
			background-color: #F47839;
			margin-top: -1px;
		}

		.fa-bars {
			color: white;
			font-size: 2em;
		}

	  	.panel-default>.panel-heading {
		    color: #333;
		    background-color: #515354;
		    border-color: transparent;
		    border: 0px;
		    border-radius: 0px;
		    padding: 15px 25px;
		    width: 100%;
		    border-top: 0px;
		}
		.panel-default>.panel-heading+.panel-collapse>.panel-body {
			background-color: #e5e5e5;
		    padding-top: 0px;
		    padding-bottom: 0px;
			padding: 10px;
		}
		.panel-body ul {
			margin-left: -15px;
			margin-right: -15px;
			margin-bottom: 0px;
		}

		.panel-group {
			margin-bottom: 0px;
			background-color: #515354;
		}
		.panel-body ul li {
			padding-left: 25px;
			border-bottom: 0.5px solid #bfbfbf;
			padding-bottom: 8px;
			padding-top: 8px;
		}

		.panel-body li a {
			color: #252525;
			text-transform: initial;
			font-size: 16px;
		}

		.panel-group .panel {
		    margin-bottom: 0px;
		    border-radius: 0px;
		    margin-top:0px !important;
		    border: 0px;
		    border-bottom: 0.5px solid #737373;
		    background-color: #515354;
		}


		.panel-title {
			padding-left: 5px;
			font-size: 20px;
		}

		.panel-title a {
			text-indent: -10px;
		}

		/***** Início CSS da barra de pesquisa ******/
		/*.navbar .col-xs-6 {
			top:50%;
			transform: translateY(-50%);
			position: absolute;
			left: 10%;
		}*/

		#esf-pesquisa input {
			border-radius: 0px;
			border-color: transparent;
			box-shadow: none;
			height: 40px;
			background-color: #696769;
		}
		#esf-pesquisa span .btn-default{
			border-radius: 0px;
			border-color: transparent;
			margin-left: -2px;
			height: 40px;
			background-color: #696769;

		}

		#esf-pesquisa i.fa-search {
			color: #F47839;
			font-size: 1.5em;
		}

		#esf-pesquisa ::-webkit-input-placeholder{
			font-style: italic;
			color: #FFFFFF;
		}

		#esf-pesquisa {
			
		    margin-top: 10%;
			margin-bottom: 15%;
			
		}
		/***** Fim CSS da barra de pesquisa ******/
		/*footer#timeline-footer {
		  padding: 20px 0;
	    background-color: #000;
	    margin-top: 4%;
	    bottom: 0;
	    position: fixed;
	    width: 100%;
	  }*/

		/* The Overlay (background) */
		.overlay {
			/* Height & width depends on how you want to reveal the overlay (see JS below) */
			height: 100%;
			width: 0;
			position: fixed; /* Stay in place */
			z-index: 1; /* Sit on top */
			right: 0;
			top: 0;
			background-color: #515354;
			overflow-x: hidden; /* Disable horizontal scroll */

			transition: 0.3s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
		}
		#close-menu {
			position: absolute;
	    	top: 20px;
	    	left: 90%;
		}

		/*.overlay-content {
			position: relative;
			top: 25%;
			width: 100%;
			text-align: center;
			margin-top: 30px;
		}*/

		#mobile-menu {
			background-color: #ECEDED;
			margin-bottom: 5%;
			height: 67.5px;
		}
	  	
	  	#mobile-menu .row{
	  		max-width: 100%;
	  	}

	  	.sub-menu {
	  		color:#000;
	  		padding: 6px;
	  		font-size: 14px;
	  	}
	/****************** Fim do CSS Geral **********************/

	/****************** Início Página Inicial **********************/
		#pagina-inicial {
			padding-top: 20%;
		}
		#secao-inicial .row#patrocinadores{
			margin-top:67.5px;
			height: 60px;
			background-color: #FFFFFF
		}
		.patrocinadores-col {
			top:50%;
			transform: translateY(-50%);
		}

		#prefeitura-mg{
			width: 50%;
		}
		#piranhas{
			width: 65%;
		}
		#rems{
			width: 90%;
		}
		#supremo{
			width: 100%;
		}
		#hr-top {
	    	margin-top: 4px;
		    margin-bottom: 0px;
		    position: absolute;
		    width: 100%;
		    border: 1px solid #F47839;
		}
		#hr-bottom {
			position: absolute;
		    margin-top: 53px;
		    width: 100%;
		    border: 1px solid #F47839;
		}

		#about-project-button {
	    	background-color: #F47839;
		    border-radius: 0px;
		    position: relative;
		    bottom: 0%;
		    left: 0;
			margin-top: 100%;
	  	}

		#about-project-title {
		    vertical-align: middle;
		    margin: 0;
		    padding: 15px 20px;
		    text-align: center;
		    font-size: 18px;
		    color: #FFFFFF;
		    font-weight: 100;
		    text-transform: none;
		}
		#about-project-title a:visited,  #about-project-title a, #about-project-title a:focus, #about-project-title a:hover {
	  	text-decoration: none;
	  	color: white;
	  }

		#esf-background {
			background-image: url(../img/ESF-header.jpg);
		    height: 539.5px; /* Refazer no js - calcular tamanho da h da tela e tirar do tamanho do menu e do banner inferior(patrocinadores)*/
		    background-size: cover;
		    background-position: 15% center;
		    /* background-clip: padding-box; */
		    background-repeat: no-repeat;
		    /* position: absolute; */
		    /* margin-top: 149px; */
		    max-width: 100%;
		}
	/****************** Fim Página Inicial **********************/

	/****************** Início Página História **********************/
		.saiba-mais-button {

			background-color: #138f45;
			border-radius: 0px;
			margin-bottom: 5%;
			margin-top: 5%;

		}

		.historia-section{
			padding-top:25%;
		}

		.saiba-mais-button-title {
			vertical-align: middle;
			margin: 0;
			padding: 20px;
			text-transform: initial;
			font-weight: 400;
			color: #FFFFFF;
			text-align: center;
			font-size: 15px;
		}
		.historia-image {
			height: 250px;
			border: 1px solid #e5e5e5;
			margin-bottom: 5%;
			background-image: url('../img/ESF-header.jpg');
			background-clip: content-box;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat ;
		}
	/****************** Fim Página História **********************/

	/****************** Início Página Depoimentos **********************/
		.depoimento-nome{
			text-align: right;
	    	font-weight: bolder;
	    	font-size: 16px;
	    	margin-bottom: 0px;
	    	color: #F47839;
		}

		.depoimento-id {
		    text-align: right;
	    	font-style: italic;
	    	margin-bottom: 20%;
		}

		.depoimentos-section{
			padding-top:25%;
		}

		.depoimentos-image {
			width: 200px;
			height: 200px;
			border-radius: 50%;
			/*border: 0.5px solid #888;*/
			margin: auto;
		}

		#lucimar {
			background-image: url('../img/lucimar-e-filhos.jpg');
			background-clip: content-box;
			background-size: cover;
			background-position: left 0;
		}

		#ana-cecilia {
			background-image: url('../img/ana-cecilia.jpg');
			background-clip: content-box;
			background-size: cover;
			background-position: left 0;
		}

		#flavio {
			background-image: url('../img/representante-esf-al.jpg');
			background-clip: content-box;
			background-size: cover;
			background-position: 62% 0;
		}

		#maria-lages {
			background-image: url('../img/maria-lages.JPG');
			background-clip: content-box;
			background-size: cover;
			background-position: left 0;
		}

		#rui-ferraz {
			background-image: url('../img/rui-ferraz.jpg');
			background-clip: content-box;
			background-size: cover;
			background-position: 22% center;
		}
	/****************** Fim Página Depoimentos **********************/

	/****************** Início Página Linha do tempo *******************/

		.arrowElement {
			color:white;
			font-size: 20px;
			text-indent: 5px;
		}

		#linha-do-tempo-section {
			padding-top:25%;
			/*height: 100%;*/
			display: table;
		  width: 100%;
		  height: 100%;
		  padding:0;
		  text-align: center;
		  color: #fff;
			
		}

		#linha-do-tempo-section .container {
			/*height: 100%;*/
			display: table-cell;
	  	vertical-align: top;
	  	padding-top: 25%;
		}

		/*#linha-do-tempo-section .panel:last-child {
			margin-bottom: 10%;
		}*/

		#accordion-timeline.panel-group{
			background-color: transparent;
		}

		#accordion-timeline .panel-title  {
			text-align: center;
			padding:10px;
		}

		#accordion-timeline .panel-title a {
		  font-size: 24px;
		  color: white;
		}
		#accordion-timeline .panel-title a:active {
		  color: white;
		}
		#accordion-timeline .panel-default {
		  border: none;
		  border-radius: 0px;
		  background-color: transparent;
		  margin-bottom: 10px;
		}
		#accordion-timeline .panel-heading {
		  border-radius: 0px;
		}

		.timeline-year{
			font-family: Roboto, Arial;
		}

		#accordion-timeline .panel-title .timeline-year {
			line-height: 60px;
			font-size: 36px;
			font-weight: 300;
		}

		.panel-group#accordion-timeline {
			margin-left: -15px;
			margin-right: -15px;
		}

		.timeline .timeline-item:after, .timeline .timeline-item:before {
			content: '';
		 	display: block;
		 	width: 100%;
		 	clear: both;
		}

		.timeline-content p {
		  color: black;
		  margin-top: -2px;
		}

		*, *:before, *:after {
		 	box-sizing: border-box;
		  -webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		}

		.timeline-container {
		 	max-width: 1100px;
			margin: 0 auto;
		}

		.project-name {
		 	text-align: center;
		 	padding: 10px 0;
		}

		.timeline {
		 	width: 100%;
			margin: 30px auto;
			position: relative;
			padding: 0 10px;
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			-ms-transition: all 0.4s ease;
			transition: all 0.4s ease;
		}

		.timeline:before {
			content: "";
			width: 3px;
			height: 100%;
			background: #ee4d4d;
			left: 15%;
			top: 0;
			position: absolute;
		}

		.timeline:after {
			content: "";
			clear: both;
			display: table;
			width: 100%;
		}
		.timeline-year:hover {
			text-decoration: none;
		}
		.timeline .timeline-item {
			margin-bottom: 50px;
			position: relative;
		}

		.timeline .timeline-item .timeline-icon {
			background: #e5e5e5;
			width: 15px;
			height: 15px;
			position: absolute;
			top: 0;
			left: 18%;
			overflow: hidden;
			margin-left: -23px;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			border-radius: 50%;
		}

		.timeline .timeline-item .timeline-icon svg {
			position: relative;
			top: 14px;
			left: 14px;
		}

		.timeline .timeline-item .timeline-content {
			width: 74%;
			background: #e5e5e5;
			padding: 20px;
			/*-webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);*/
			/*-moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);*/
			/*-ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);*/
			/*box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);*/
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-ms-border-radius: 5px;
			border-radius: 5px;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}

		.timeline .timeline-item .timeline-content h2 {
			padding: 15px;
			font-size: 20px;
			background: #e5e5e5;
			color: #444444;
			margin: -20px -20px 0 -20px;
			font-weight: 300;
			-webkit-border-radius: 3px 3px 0 0;
			-moz-border-radius: 3px 3px 0 0;
			-ms-border-radius: 3px 3px 0 0;
			border-radius: 3px 3px 0 0;
		}

		.timeline .timeline-item .timeline-content:before {
			/*content: '';*/
			/*position: absolute;*/
			/*left: 45%;*/
			/*top: 20px;*/
			/*width: 0;*/
			/*height: 0;*/
			/*border-top: 7px solid transparent;*/
			/*border-bottom: 7px solid transparent;*/
			/*border-left: 7px solid #ee4d4d;*/
		}

		.timeline .timeline-item .timeline-content.right {
		 	float: right;
			width: 80%;
			padding-top: 0px;
			padding-left: 5px;
			padding-right: 5px;
			text-align: justify;
		}

		.timeline .timeline-item .timeline-content.left {
			width: 10%;
			padding-top: 5px ;
			padding-left: 0px;
		}

		.timeline .timeline-item .timeline-content h2.month-name{
			margin-right: 5px;
			font-size: 15px ;
		}

		.timeline .timeline-item .timeline-content.right:before {
			/*content: '';*/
			/*right: 73.5%;*/
			/*left: inherit;*/
			/*border-left: 0;*/
			/*border-right: 7px solid #ee4d4d;*/
		}

		/* Início linha do tempo 2016 */
		#collapse-2016 .timeline:before {
			content: "";
			width: 3px;
			height: 100%;
			background: #369C41;
			left: 15%;
			top: 0;
			position: absolute;
		}
		#collapse-2016 .timeline .timeline-item .timeline-icon {
			border: 2px solid #369C41;
		}
		#collapse-2016 .timeline .timeline-item .timeline-content.right:before {
			border-right: 7px solid #369C41;
		}
		/* Fim linha do tempo 2016 */

		/* Início linha do tempo 2015 */
		#collapse-2015 .timeline:before {
			content: "";
		  width: 3px;
		  height: 100%;
		  background: #369C41;
		  left: 15%;
		  top: 0;
		  position: absolute;
		}
		#collapse-2015 .timeline .timeline-item .timeline-icon {
			border: 2px solid #369C41;
		}
		#collapse-2015 .timeline .timeline-item .timeline-content.right:before {
			border-right: 7px solid #369C41;
		}
		/* Fim linha do tempo 2015 */

		/* Início linha do tempo 2014 */
		#collapse-2014 .timeline:before {
			content: "";
		  width: 3px;
		  height: 100%;
		  background: #2782A2;
		  left: 15%;
		  top: 0;
		  position: absolute;
		}
		#collapse-2014 .timeline .timeline-item .timeline-icon {
			border: 2px solid #2782A2;

		}

		#collapse-2014 .timeline .timeline-item .timeline-content.right:before {
			border-right: 7px solid #2782A2;
		}
		/* Fim linha do tempo 2014 */

		/* Início linha do tempo 2013 */
		#collapse-2013 .timeline:before {
			content: "";
		  width: 3px;
		  height: 100%;
		  background: #A1275B;
		  left: 15%;
		  top: 0;
		  position: absolute;
		}
		#collapse-2013 .timeline .timeline-item .timeline-icon {
			border: 2px solid #A1275B;
		}

		#collapse-2013 .timeline .timeline-item .timeline-content.right:before {
			border-right: 7px solid #A1275B;
		}
		/* Fim linha do tempo 2013 */

		.timeline-mobile-title {
			font-size: 20px;
			color: #666;
		}

		.year-container {
			/*background-color: #c0c0c0;*/
			margin-top: 15px;
		}

		.year-itself {
			color: #fff;
			font-size: 30px;
			padding: 10px;
			background-color: #888;
			font-family: 'Roboto', sans-serif;
		}
	/****************** Fim Página Linha do tempo **********************/

	/****************** Início Página Contato **********************/
		#contato-heading {
		    text-transform: none;
		    padding: 0px 0px;
		    font-size: 27px;
		    font-weight: 100;
		    margin-top: -20%;
		    padding-bottom: 5px;
		}

		#contato-form input::-webkit-input-placeholder, #contato-form textarea::-webkit-input-placeholder {
	  	font-style: italic;
		}

		#contato-form input:-moz-placeholder, #contato-form textarea:-moz-placeholder {
		   font-style: italic;
		}

		#contato-form input::-moz-placeholder, #contato-form textarea::-moz-placeholder {
		   font-style: italic;
		}

		#contato-form input:-ms-input-placeholder, #contato-form textarea:-ms-input-placeholder {  
		   font-style: italic;
		}

		#contato-form input {
			width: 100%;
		    background-color: #CCCCCC;
		    border: 0px;
		    margin-bottom: 5%;
		    padding: 3% 0%;
		    padding-left: 4%;
		}

		#contato-form textarea {
			width: 100%;
		    background-color: #CCCCCC;
		    border: 0px;
		    margin-bottom: 5%;
		    padding: 2% 4%;
		    padding-bottom: 20%;
		    resize: none;
		}

		#contato-form input, #contato-form textarea, #contato-form #submit-button {
			border-radius: 0px;
		}

		#contato-form #submit-button{
			width: 100%;
		    background-color: #F47839;
		    color: #FFFFFF;
		    border: 0px;
		    margin-top: -5px;
		    padding: 3%;
		    padding-left: 3%;
		    margin-bottom: 20px;
		    font-size: 16px;
		    font-weight: bold
		}

		#contato-header{
			width:100%;
			height: 150px;
			/*border:1px solid black;*/
			background-image: url(../img/ESF-header.jpg);
			background-clip: content-box;
			background-size: cover;
			background-position: center 5%;
		}
	/****************** Fim Página Contato **********************/
	  
	/****************** Início Página Apoie **********************/
		#accordion-apoie {
			margin: 0px -15px;
		}

		.accordion-group {
			margin-bottom: 4px;
		}

		.accordion-heading {
		    padding: 8px 20px;
		    background-color: white;
		    text-align: left;
		}

		.accordion-heading a {
			text-decoration: none;
	    	font-size: 20px;
	    	text-transform: uppercase;
	    	font-weight: bold;
	    	color: #FFFFFF;
		}

		.accordion-heading.active, #financiador-heading.active,
		#colaborador-heading.active, #apoiador-heading.active,
		#tecnico-heading.active{
			background-color: gray;
		}

		/*.accordion-heading a:focus{
			background-color: #bcbec0;
		}*/
		#financiador-heading {
			background-color: #5EAEDF;
			
		}

		#apoiador-heading {
			background-color: #61BF7A;
			
		}

		#colaborador-heading {
			background-color: #B22A90;
			
		}

		#tecnico-heading {
			background-color: #BE4534;
			
		}

		.accordion-heading a:focus, .accordion a:hover{
			/**/
		}

		/*.accordion-body {
	    	padding: 15px 20px;
		}*/

		.accordion-inner {
			text-align: justify;
			padding: 15px 20px;
		}

		#apoie-button {
			background-color: #F47839;
			border-radius: 0px;
			margin-bottom: 5%;
			margin-top: 15%;
		}

		#apoie-button-title {
			vertical-align: middle;
			margin: 0;
			padding: 20px;
			text-transform: initial;
			font-weight: 400;
			color: #FFFFFF;
			text-align: center;
			font-size: 18px;
		}

		.apoie-caret{
			color: #FFFFFF;
			padding-left: 6px;
			font-size: 16px;
		}
	/****************** Fim Página Apoie **********************/

	/****************** Início Página Ações **********************/
		.acao-title {
			font-size: 24px;
			text-transform: none;
			text-align: center;
		}

		.acao-button {
			background-color: #F47839;
	    	padding: 12px 6px;
	    	font-size: 20px;
	    	text-align: center;
	    	color: #FFFFFF;
		    margin-bottom: 10%;
		}

		.acao-button:hover, .acao-button:focus, .acao-button:active {
			text-decoration: none;
		}
		#acoes-section{
			padding-top:25%;
		}
	/****************** Fim Página Ações **********************/

	/****************** Início Página Notícias **********************/
		/*.date-wrapper {*/
			/*background-color: #888;*/
			/*height: 100px;*/
			/*width: 90px;*/
		/*}*/

		/*.day-wrapper {*/
			/*background-color: #ffffff;*/
			/*color: #888;*/
			/*width: 80px;*/
			/*height: 50px;*/
			/*margin: auto;*/
			/*font-family: 'Roboto', Arial;*/
			/*font-size: 40px;*/
			/*text-align: center;*/
			/*left: 20px;*/
			/*position: absolute;*/
			/*margin-top: 5px;*/
			/*font-weight: bold;*/
		/*}*/

		/*.infos {*/
			/*color: #ffffff;*/
			/*position: absolute;*/
			/*top: 60px;*/
			/*left: 20px;*/
			/*text-align: center;*/
			/*width: 80px;*/
			/*font-family: 'Roboto', Arial;*/
			/*font-weight:bolder;*/
			/*font-size: 14px;*/

		/*}*/

		.midia-title{
			font-size: 17px;
			text-transform: none;
			font-weight: bold;
			font-family: "Roboto", Arial, sans-serif;
			margin-left: -5px;
			color: #888;
			letter-spacing: normal;
		}

		.midia-button{
			font-size: 18px;
			text-align: center;
			padding: 15px;
			background: #F47839;
			margin-left: -5px;
			color: #ffffff;
			text-transform: none;
			letter-spacing: normal;
		}

		.midia-item{
			margin-top: 10%;
			margin-bottom: 5%;
		}

		#midia-section{
			margin-top:67.5px;
			background-color: #fff;
			padding-top: 0px;
		}

		#midia-header{
			width:100%;
			height: 150px;
			/*border:1px solid black;*/
			background-image: url(../img/ESF-header.jpg);
			background-clip: content-box;
			background-size: cover;
			background-position: center 5%;
		}

		#midia-em-breve {
			    font-size: 30px;
			    text-align: center;
		  	}
	/****************** Fim Página Notícias **********************/

	}




/* ----------- iPad mini ----------- */

	/* Portrait */
	@media	(min-width: 768px) 
	  	and (max-width: 1024px)  {
	  	.hidden-desktop {
			display: block;
		}

		.hidden-mobile {
			display: none;
		}

	  	.navbar-header {
	        float: none;
	    }
	    .navbar-toggle {
	        display: block;
	    }
	    .navbar-collapse {
	        border-top: 1px solid transparent;
	        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	    }
	    .navbar-collapse.collapse {
	        display: none!important;
	    }
	    .navbar-nav {
	        float: none!important;
	        margin: 7.5px -15px;
	    }
	    .navbar-nav>li {
	        float: none;
	    }
	    .navbar-nav>li>a {
	        padding-top: 10px;
	        padding-bottom: 10px;
	    }

		/****************** Início do CSS Geral *******************/

			body {
				color: #000000;
			}


			.hidden-desktop {
				display: block;
			}

			.hidden-mobile {
				display: none;
			}

			#missao-section {
				padding-top: 20%;
			}

			.pagina-title {
				position: absolute;
				top: 47%;
				left: 20%;
				width: 135%;
				color: #FFFFFF;
				font-family: 'Helvetica-Neue','Raleway-Semi-Bold';
				font-size: 19px;
				text-transform: uppercase;
				margin-top: 5px;
			}

			#circulo-logo {
				width: 12%;
			}

			.container {
				overflow-x: hidden;
			}
			.social-icons img {
				color: white;
				margin-top: 5%;
				width: 25%;
				height: auto;
			}
			.social-icons#facebook {
				padding-right: 0px;
				margin-left: 20%;
				width: 16%;
				margin-top: 19px;
			}
			.social-icons#instagram{
				padding-left: 0px;
				margin-left: -65px;
				width: 16%;
				margin-top: 19px;
			}

			.logo-container {
				max-height: 67.5px;
			}
			.logo-container img {
				max-width: 120%;
				width: 50%;
				top: 0px;
				margin-top: 20px;
			}
			#instagram-logo {
				float: right;
			}

			#facebook-logo {
				float: right;
			}

			.navbar-toggle {

				margin-top: 16px;
			}

			#valores-button {
				background-color: #138f45;
				border-radius: 0px;
				margin-bottom: 5%;
				margin-top: 4%;
			}

			#missao-section #buttons-row {
				margin-bottom: 0%;
				margin-top: -10%;
			}
			#missao-section #valores-button {
				margin-top: -15%;
				margin-bottom: 20%;
			}

			#valores-button-title {
				vertical-align: middle;
				margin: 0;
				padding: 20px;
				text-transform: initial;
				font-weight: 400;
				color: #FFFFFF;
				text-align: center;
				font-size: 18px;
			}

			#buttons-row {
				/*margin-top: 4%;*/
			}

			#facebook-button {
				background-color:#3b5998;
				border-radius: 4px;
				margin-top: 5%;
			}
			#facebook-button i {
				color:white;
				font-size:30px;
				vertical-align:middle;
				padding:10px
			}


			.navbar-custom a {
				color:#F47839;
			}

			.navbar-custom {
				background-color: transparent;
				height: 70px;
				border-bottom: 0px;
				margin-top: 0px;
			}
			#accordion-menu .panel-title a {
				color: #FFFFFF;
				text-transform: none;
				font-weight: 100;
			}
			#accordion-menu .panel-title i {
				color: #F47839;
				font-size: 15px;
				padding-right: 6px;
			}
			.navbar-custom a:hover {
				text-decoration: none;
			}
			.navbar-collapse-mobile{
				margin-left: -15px;
				margin-right: -15px;
			}

			.navbar-header {
				background-color: transparent;
			}

			.navbar-custom {
				background-color: #F47839;
				margin-top: -1px;
				height: 70px;
			}

			.navbar-custom .container {
				height: 70px;
			}


			.fa-bars {
				color: white;
				font-size: 2em;
			}

			.panel-default>.panel-heading {
				color: #333;
				background-color: #515354;
				border-color: transparent;
				border: 0px;
				border-radius: 0px;
				padding: 15px 25px;
				width: 100%;
				border-top: 0px;
			}
			.panel-default>.panel-heading+.panel-collapse>.panel-body {
				background-color: #e5e5e5;
				padding-top: 0px;
				padding-bottom: 0px;
				padding: 10px;
			}
			.panel-body ul {
				margin-left: -15px;
				margin-right: -15px;
				margin-bottom: 0px;
			}

			.panel-group {
				margin-bottom: 0px;
				background-color: #515354;
			}
			.panel-body ul li {
				padding-left: 25px;
				border-bottom: 0.5px solid #bfbfbf;
				padding-bottom: 8px;
				padding-top: 8px;
			}

			.panel-body li a {
				color: #252525;
				text-transform: initial;
				font-size: 16px;
			}

			.panel-group .panel {
				margin-bottom: 0px;
				border-radius: 0px;
				margin-top:0px !important;
				border: 0px;
				border-bottom: 0.5px solid #737373;
				background-color: #515354;
			}


			.panel-title {
				padding-left: 5px;
				font-size: 20px;
			}

			.panel-title a {
				text-indent: -10px;
			}

			/***** Início CSS da barra de pesquisa ******/
			/*.navbar .col-xs-6 {
				top:50%;
				transform: translateY(-50%);
				position: absolute;
				left: 10%;
			}*/

			#esf-pesquisa input {
				border-radius: 0px;
				border-color: transparent;
				box-shadow: none;
				height: 40px;
				background-color: #696769;
			}
			#esf-pesquisa span .btn-default{
				border-radius: 0px;
				border-color: transparent;
				margin-left: -2px;
				height: 40px;
				background-color: #696769;

			}

			#esf-pesquisa i.fa-search {
				color: #F47839;
				font-size: 1.5em;
			}

			#esf-pesquisa ::-webkit-input-placeholder{
				font-style: italic;
				color: #FFFFFF;
			}

			#esf-pesquisa {

				margin-top: 10%;
				margin-bottom: 15%;

			}
			/***** Fim CSS da barra de pesquisa ******/
			/*footer#timeline-footer {
			  padding: 20px 0;
		    background-color: #000;
		    margin-top: 4%;
		    bottom: 0;
		    position: fixed;
		    width: 100%;
		  }*/

			/* The Overlay (background) */
			.overlay {
				/* Height & width depends on how you want to reveal the overlay (see JS below) */
				height: 100%;
				width: 0;
				position: fixed; /* Stay in place */
				z-index: 1; /* Sit on top */
				right: 0;
				top: 0;
				background-color: #515354;
				overflow-x: hidden; /* Disable horizontal scroll */

				transition: 0.3s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
			}
			#close-menu {
				position: absolute;
				top: 17px;
				left: 93%;
				font-size: 30px;
			}

			/*.overlay-content {
				position: relative;
				top: 25%;
				width: 100%;
				text-align: center;
				margin-top: 30px;
			}*/

			#mobile-menu {
				background-color: #ECEDED;
				margin-bottom: 5%;
				height: 70px;
				margin-left: -15px;
				margin-right: -15px;
			}

			#mobile-menu .row{
				max-width: 100%;
			}

			.sub-menu {
				color:#000;
				padding: 6px;
				font-size: 14px;
			}
		/****************** Fim do CSS Geral **********************/

		/****************** Início Página Inicial **********************/
			#pagina-inicial {
				padding-top: 20%;
			}
			#secao-inicial .row#patrocinadores{
				margin-top:70px;
				height: 70px;
				background-color: #FFFFFF
			}
			.patrocinadores-col {
				top:50%;
				transform: translateY(-50%);
			}

			#prefeitura-mg{
				width: 30%;
			}
			#piranhas{
				width: 35%;
			}
			#rems{
				width: 65%;
			}
			#supremo{
				width: 80%;
			}
			#hr-top {
				margin-top: 4px;
				margin-bottom: 0px;
				position: absolute;
				width: 100%;
				border: 1px solid #F47839;
			}
			#hr-bottom {
				position: absolute;
				margin-top: 53px;
				width: 100%;
				border: 1px solid #F47839;
			}

			#about-project-button {
				background-color: #F47839;
				border-radius: 0px;
				position: relative;
				bottom: 0%;
				left: 0;
				margin-top: 90%;
			}

			#about-project-title {
				vertical-align: middle;
				margin: 0;
				padding: 15px 20px;
				text-align: center;
				font-size: 18px;
				color: #FFFFFF;
				font-weight: 100;
				text-transform: none;
			}
			#about-project-title a:visited,  #about-project-title a, #about-project-title a:focus, #about-project-title a:hover {
				text-decoration: none;
				color: white;
			}

			#esf-background {
				background-image: url(../img/ESF-header.jpg);
				height: 539.5px; /* Refazer no js - calcular tamanho da h da tela e tirar do tamanho do menu e do banner inferior(patrocinadores)*/
				background-size: cover;
				background-position: 15% center;
				/* background-clip: padding-box; */
				background-repeat: no-repeat;
				/* position: absolute; */
				/* margin-top: 149px; */
				max-width: 100%;
			}
		/****************** Fim Página Inicial **********************/

		/****************** Início Página História **********************/
			.saiba-mais-button {

				background-color: #138f45;
				border-radius: 0px;
				margin-bottom: 5%;
				margin-top: 5%;

			}

			.saiba-mais-button-title {
				vertical-align: middle;
				margin: 0;
				padding: 20px;
				text-transform: initial;
				font-weight: 400;
				color: #FFFFFF;
				text-align: center;
				font-size: 15px;
			}

			.historia-section{
				padding-top:15%;
			}
			.historia-image {
				height: 250px;
				border: 1px solid #e5e5e5;
				margin-bottom: 5%;
				background-image: url('../img/ESF-header.jpg');
				background-clip: content-box;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat ;
			}
		/****************** Fim Página História **********************/

		/****************** Início Página Depoimentos **********************/
			.depoimento-nome{
				text-align: right;
				font-weight: bolder;
				font-size: 16px;
				margin-bottom: 0px;
				color: #F47839;
			}

			.depoimento-id {
				text-align: right;
				font-style: italic;
				margin-bottom: 20%;
			}

			.depoimentos-section{
				padding-top:25%;
			}

			.depoimentos-image {
				width: 200px;
				height: 200px;
				border-radius: 50%;
				/*border: 0.5px solid #888;*/
				margin: auto;
			}

			#lucimar {
				background-image: url('../img/lucimar-e-filhos.jpg');
				background-clip: content-box;
				background-size: cover;
				background-position: left 0;
			}

			#ana-cecilia {
				background-image: url('../img/ana-cecilia.jpg');
				background-clip: content-box;
				background-size: cover;
				background-position: left 0;
			}

			#flavio {
				background-image: url('../img/representante-esf-al.jpg');
				background-clip: content-box;
				background-size: cover;
				background-position: 62% 0;
			}

			#maria-lages {
				background-image: url('../img/maria-lages.JPG');
				background-clip: content-box;
				background-size: cover;
				background-position: left 0;
			}

			#rui-ferraz {
				background-image: url('../img/rui-ferraz.jpg');
				background-clip: content-box;
				background-size: cover;
				background-position: 22% center;
			}
		/****************** Fim Página Depoimentos **********************/

		/****************** Início Página Linha do tempo *******************/

			.arrowElement {
				color:white;
				font-size: 20px;
				text-indent: 5px;
			}

			#linha-do-tempo-section {
				padding-top:25%;
				/*height: 100%;*/
				display: table;
				width: 100%;
				height: 100%;
				padding:0;
				text-align: center;
				color: #fff;

			}

			#linha-do-tempo-section .container {
				/*height: 100%;*/
				display: table-cell;
				vertical-align: top;
				padding-top: 25%;
			}

			/*#linha-do-tempo-section .panel:last-child {
				margin-bottom: 10%;
			}*/

			#accordion-timeline.panel-group{
				background-color: transparent;
			}

			#accordion-timeline .panel-title  {
				text-align: center;
				padding:10px;
			}

			#accordion-timeline .panel-title a {
				font-size: 24px;
				color: white;
			}
			#accordion-timeline .panel-title a:active {
				color: white;
			}
			#accordion-timeline .panel-default {
				border: none;
				border-radius: 0px;
				background-color: transparent;
				margin-bottom: 10px;
			}
			#accordion-timeline .panel-heading {
				border-radius: 0px;
			}

			.timeline-year{
				font-family: Roboto, Arial;
			}

			#accordion-timeline .panel-title .timeline-year {
				line-height: 60px;
				font-size: 36px;
				font-weight: 300;
			}

			.panel-group#accordion-timeline {
				margin-left: -15px;
				margin-right: -15px;
			}

			.timeline .timeline-item:after, .timeline .timeline-item:before {
				content: '';
				display: block;
				width: 100%;
				clear: both;
			}

			.timeline-content p {
				color: black;
				margin-top: -2px;
			}

			*, *:before, *:after {
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
			}

			.timeline-container {
				max-width: 1100px;
				margin: 0 auto;
			}

			.project-name {
				text-align: center;
				padding: 10px 0;
			}

			.timeline {
				width: 100%;
				margin: 30px auto;
				position: relative;
				padding: 0 10px;
				-webkit-transition: all 0.4s ease;
				-moz-transition: all 0.4s ease;
				-ms-transition: all 0.4s ease;
				transition: all 0.4s ease;
			}

			.timeline:before {
				content: "";
				width: 3px;
				height: 100%;
				background: #ee4d4d;
				left: 15%;
				top: 0;
				position: absolute;
			}

			.timeline:after {
				content: "";
				clear: both;
				display: table;
				width: 100%;
			}
			.timeline-year:hover {
				text-decoration: none;
			}
			.timeline .timeline-item {
				margin-bottom: 50px;
				position: relative;
			}

			.timeline .timeline-item .timeline-icon {
				background: #e5e5e5;
				width: 15px;
				height: 15px;
				position: absolute;
				top: 0;
				left: 16.4%;
				overflow: hidden;
				margin-left: -23px;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				-ms-border-radius: 50%;
				border-radius: 50%;
			}

			.timeline .timeline-item .timeline-icon svg {
				position: relative;
				top: 14px;
				left: 14px;
			}

			.timeline .timeline-item .timeline-content {
				width: 74%;
				background: #e5e5e5;
				padding: 20px;
				/*-webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);*/
				/*-moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);*/
				/*-ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);*/
				/*box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);*/
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				-ms-border-radius: 5px;
				border-radius: 5px;
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-ms-transition: all 0.3s ease;
				transition: all 0.3s ease;
			}

			.timeline .timeline-item .timeline-content h2 {
				padding: 15px;
				font-size: 20px;
				background: #e5e5e5;
				color: #444444;
				margin: -20px -20px 0 -20px;
				font-weight: 300;
				-webkit-border-radius: 3px 3px 0 0;
				-moz-border-radius: 3px 3px 0 0;
				-ms-border-radius: 3px 3px 0 0;
				border-radius: 3px 3px 0 0;
			}

			.timeline .timeline-item .timeline-content:before {
				/*content: '';*/
				/*position: absolute;*/
				/*left: 45%;*/
				/*top: 20px;*/
				/*width: 0;*/
				/*height: 0;*/
				/*border-top: 7px solid transparent;*/
				/*border-bottom: 7px solid transparent;*/
				/*border-left: 7px solid #ee4d4d;*/
			}

			.timeline .timeline-item .timeline-content.right {
				float: right;
				width: 80%;
				padding-top: 0px;
				padding-left: 5px;
				padding-right: 5px;
				text-align: justify;
			}

			.timeline .timeline-item .timeline-content.left {
				width: 10%;
				padding-top: 5px ;
				/*padding-left: 0px;*/
				padding-right: 0px;
			}

			.timeline .timeline-item .timeline-content h2.month-name{
				/*margin-right: 5px;*/
				font-size: 15px ;
				text-align: center;
			}

			.timeline .timeline-item .timeline-content.right:before {
				/*content: '';*/
				/*right: 73.5%;*/
				/*left: inherit;*/
				/*border-left: 0;*/
				/*border-right: 7px solid #ee4d4d;*/
			}

			/* Início linha do tempo 2016 */
			#collapse-2016 .timeline:before {
				content: "";
				width: 3px;
				height: 100%;
				background: #369C41;
				left: 15%;
				top: 0;
				position: absolute;
			}
			#collapse-2016 .timeline .timeline-item .timeline-icon {
				border: 2px solid #369C41;
			}
			#collapse-2016 .timeline .timeline-item .timeline-content.right:before {
				border-right: 7px solid #369C41;
			}
			/* Fim linha do tempo 2016 */

			/* Início linha do tempo 2015 */
			#collapse-2015 .timeline:before {
				content: "";
				width: 3px;
				height: 100%;
				background: #369C41;
				left: 15%;
				top: 0;
				position: absolute;
			}
			#collapse-2015 .timeline .timeline-item .timeline-icon {
				border: 2px solid #369C41;
			}
			#collapse-2015 .timeline .timeline-item .timeline-content.right:before {
				border-right: 7px solid #369C41;
			}
			/* Fim linha do tempo 2015 */

			/* Início linha do tempo 2014 */
			#collapse-2014 .timeline:before {
				content: "";
				width: 3px;
				height: 100%;
				background: #2782A2;
				left: 15%;
				top: 0;
				position: absolute;
			}
			#collapse-2014 .timeline .timeline-item .timeline-icon {
				border: 2px solid #2782A2;

			}

			#collapse-2014 .timeline .timeline-item .timeline-content.right:before {
				border-right: 7px solid #2782A2;
			}
			/* Fim linha do tempo 2014 */

			/* Início linha do tempo 2013 */
			#collapse-2013 .timeline:before {
				content: "";
				width: 3px;
				height: 100%;
				background: #A1275B;
				left: 15%;
				top: 0;
				position: absolute;
			}
			#collapse-2013 .timeline .timeline-item .timeline-icon {
				border: 2px solid #A1275B;
			}

			#collapse-2013 .timeline .timeline-item .timeline-content.right:before {
				border-right: 7px solid #A1275B;
			}


			/* Fim linha do tempo 2013 */
			.timeline-mobile-title {
				font-size: 34px;
				color: #666;
			}

			.year-container {
				/*background-color: #c0c0c0;*/
				margin-top: 15px;
			}

			.year-itself {
				color: #fff;
				font-size: 32px;
				padding: 15px;
				background-color: #888;
				font-family: 'Roboto', sans-serif;
			}
		/****************** Fim Página Linha do tempo **********************/

		/****************** Início Página Contato **********************/
		#contato-heading {
			text-transform: none;
		    padding: 0px 0px;
		    font-size: 32px;
		    font-weight: 100;
		    margin-top: -5%;
		}

		#contato-section {
			padding-top: 70px;
		}

		#contato-form input::-webkit-input-placeholder, #contato-form textarea::-webkit-input-placeholder {
			font-style: italic;
		}

		#contato-form input:-moz-placeholder, #contato-form textarea:-moz-placeholder {
			font-style: italic;
		}

		#contato-form input::-moz-placeholder, #contato-form textarea::-moz-placeholder {
			font-style: italic;
		}

		#contato-form input:-ms-input-placeholder, #contato-form textarea:-ms-input-placeholder {
			font-style: italic;
		}

		#contato-form input {
			width: 100%;
			background-color: #CCCCCC;
			border: 0px;
			margin-bottom: 5%;
			padding: 3% 0%;
			padding-left: 4%;
		}

		#contato-form textarea {
			width: 100%;
			background-color: #CCCCCC;
			border: 0px;
			margin-bottom: 5%;
			padding: 2% 4%;
			padding-bottom: 20%;
			resize: none;
		}

		#contato-form input, #contato-form textarea, #contato-form #submit-button {
			border-radius: 0px;
		}

		#contato-form #submit-button{
			width: 100%;
			background-color: #F47839;
			color: #FFFFFF;
			border: 0px;
			margin-top: -5px;
			padding: 3%;
			padding-left: 3%;
			margin-bottom: 20px;
			font-size: 16px;
			font-weight: bold
		}

		#contato-form {
			margin-top: 20%;
		}

		#contato-header{
			width:100%;
			height: 150px;
			/*border:1px solid black;*/
			background-image: url(../img/ESF-header.jpg);
			background-clip: content-box;
			background-size: cover;
			background-position: center 5%;
		}
		/****************** Fim Página Contato **********************/

		/****************** Início Página Apoie **********************/
		#accordion-apoie {
			margin: 0px -15px;
		}

		.accordion-group {
			margin-bottom: 4px;
		}

		.apoie-title {
			font-size: 20px;
		}

		.accordion-heading {
			padding: 8px 20px;
			background-color: white;
			text-align: left;
		}

		.accordion-heading a {
			text-decoration: none;
			font-size: 20px;
			text-transform: uppercase;
			font-weight: bold;
			color: #FFFFFF;
		}

		/*.accordion-heading a:focus{
			background-color: #bcbec0;
		}*/
		.accordion-heading.active, #financiador-heading.active,
		#colaborador-heading.active, #apoiador-heading.active,
		#tecnico-heading.active{
			background-color: gray;
		}

		#financiador-heading {
			background-color: #5EAEDF;

		}

		#apoiador-heading {
			background-color: #61BF7A;

		}

		#colaborador-heading {
			background-color: #B22A90;

		}

		#tecnico-heading {
			background-color: #BE4534;

		}

		.accordion-heding a:focus, .accordion a:hover{
			/**/
		}

		/*.accordion-body {
	    	padding: 15px 20px;
		}*/

		.accordion-inner {
			text-align: justify;
			padding: 15px 20px;
		}

		#apoie-button {
			background-color: #F47839;
			border-radius: 0px;
			margin-bottom: 5%;
			margin-top: 15%;
		}

		#apoie-button-title {
			vertical-align: middle;
			margin: 0;
			padding: 20px;
			text-transform: initial;
			font-weight: 400;
			color: #FFFFFF;
			text-align: center;
			font-size: 18px;
		}

		.apoie-caret{
			color: #FFFFFF;
			padding-left: 6px;
			font-size: 16px;
		}
		/****************** Fim Página Apoie **********************/

		/****************** Início Página Ações **********************/
		.acao-title {
			font-size: 24px;
			text-transform: none;
			text-align: center;
		}

		.acao-button {
			background-color: #F47839;
			padding: 12px 6px;
			font-size: 20px;
			text-align: center;
			color: #FFFFFF;
			margin-bottom: 10%;
		}

		.acao-button:hover, .acao-button:focus, .acao-button:active {
			text-decoration: none;
		}
		#acoes-section{
			padding-top:25%;
		}
		/****************** Fim Página Ações **********************/

		/****************** Início Página Notícias **********************/
		/*.date-wrapper {*/
		/*background-color: #888;*/
		/*height: 100px;*/
		/*width: 90px;*/
		/*}*/

		/*.day-wrapper {*/
		/*background-color: #ffffff;*/
		/*color: #888;*/
		/*width: 80px;*/
		/*height: 50px;*/
		/*margin: auto;*/
		/*font-family: 'Roboto', Arial;*/
		/*font-size: 40px;*/
		/*text-align: center;*/
		/*left: 20px;*/
		/*position: absolute;*/
		/*margin-top: 5px;*/
		/*font-weight: bold;*/
		/*}*/

		/*.infos {*/
		/*color: #ffffff;*/
		/*position: absolute;*/
		/*top: 60px;*/
		/*left: 20px;*/
		/*text-align: center;*/
		/*width: 80px;*/
		/*font-family: 'Roboto', Arial;*/
		/*font-weight:bolder;*/
		/*font-size: 14px;*/

		/*}*/

		.midia-title{
			font-size: 17px;
			text-transform: none;
			font-weight: bold;
			font-family: "Roboto", Arial, sans-serif;
			margin-left: -5px;
			color: #888;
			letter-spacing: normal;
		}

		.midia-button{
			font-size: 18px;
			text-align: center;
			padding: 15px;
			background: #F47839;
			margin-left: -5px;
			color: #ffffff;
			text-transform: none;
			letter-spacing: normal;
		}

		.midia-item{
			margin-top: 10%;
			margin-bottom: 5%;
		}

		#midia-section{
			margin-top:67.5px;
			background-color: #fff;
			padding-top: 0px;
		}

		#midia-header{
			width:100%;
			height: 150px;
			/*border:1px solid black;*/
			background-image: url(../img/ESF-header.jpg);
			background-clip: content-box;
			background-size: cover;
			background-position: center 5%;
		}
		/****************** Fim Página Notícias **********************/
	}


/* ----------- iPad 1 and 2 ----------- */

	/* Portrait */
	@media (min-width: 769px) 
	  and (max-width: 1024px) {

		.hidden-desktop {
			display: block;
		}

		.hidden-mobile {
			display: none;
		}

	  	.navbar-header {
	        float: none;
	    }
	    .navbar-toggle {
	        display: block;
	    }
	    .navbar-collapse {
	        border-top: 1px solid transparent;
	        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	    }
	    .navbar-collapse.collapse {
	        display: none!important;
	    }
	    .navbar-nav {
	        float: none!important;
	        margin: 7.5px -15px;
	    }
	    .navbar-nav>li {
	        float: none;
	    }
	    .navbar-nav>li>a {
	        padding-top: 10px;
	        padding-bottom: 10px;
	    }

		/****************** Início do CSS Geral *******************/

			body {
				color: #000000;
			}


			.hidden-desktop {
				display: block;
			}

			.hidden-mobile {
				display: none;
			}

			#missao-section {
				padding-top: 20%;
			}

			.pagina-title {
				position: absolute;
				top: 47%;
				left: 20%;
				width: 135%;
				color: #FFFFFF;
				font-family: 'Helvetica-Neue','Raleway-Semi-Bold';
				font-size: 19px;
				text-transform: uppercase;
				margin-top: 5px;
			}

			#circulo-logo {
				width: 12%;
			}

			.container {
				overflow-x: hidden;
			}
			.social-icons img {
				color: white;
				margin-top: 5%;
				width: 25%;
				height: auto;
			}
			.social-icons#facebook {
				padding-right: 0px;
				margin-left: 20%;
				width: 16%;
				margin-top: 19px;
			}
			.social-icons#instagram{
				padding-left: 0px;
				margin-left: -65px;
				width: 16%;
				margin-top: 19px;
			}

			.logo-container {
				max-height: 67.5px;
			}
			.logo-container img {
				max-width: 120%;
				width: 50%;
				top: 0px;
				margin-top: 20px;
			}
			#instagram-logo {
				float: right;
			}

			#facebook-logo {
				float: right;
			}

			.navbar-toggle {

				margin-top: 16px;
			}

			#valores-button {
				background-color: #138f45;
				border-radius: 0px;
				margin-bottom: 5%;
				margin-top: 4%;
			}

			#missao-section #buttons-row {
				margin-bottom: 0%;
				margin-top: -10%;
			}
			#missao-section #valores-button {
				margin-top: -15%;
				margin-bottom: 20%;
			}

			#valores-button-title {
				vertical-align: middle;
				margin: 0;
				padding: 20px;
				text-transform: initial;
				font-weight: 400;
				color: #FFFFFF;
				text-align: center;
				font-size: 18px;
			}

			#buttons-row {
				/*margin-top: 4%;*/
			}

			#facebook-button {
				background-color:#3b5998;
				border-radius: 4px;
				margin-top: 5%;
			}
			#facebook-button i {
				color:white;
				font-size:30px;
				vertical-align:middle;
				padding:10px
			}


			.navbar-custom a {
				color:#F47839;
			}

			.navbar-custom {
				background-color: transparent;
				height: 70px;
				border-bottom: 0px;
				margin-top: 0px;
			}
			#accordion-menu .panel-title a {
				color: #FFFFFF;
				text-transform: none;
				font-weight: 100;
			}
			#accordion-menu .panel-title i {
				color: #F47839;
				font-size: 15px;
				padding-right: 6px;
			}
			.navbar-custom a:hover {
				text-decoration: none;
			}
			.navbar-collapse-mobile{
				margin-left: -15px;
				margin-right: -15px;
			}

			.navbar-header {
				background-color: transparent;
			}

			.navbar-custom {
				background-color: #F47839;
				margin-top: -1px;
				height: 70px;
			}

			.navbar-custom .container {
				height: 70px;
			}


			.fa-bars {
				color: white;
				font-size: 2em;
			}

			.panel-default>.panel-heading {
				color: #333;
				background-color: #515354;
				border-color: transparent;
				border: 0px;
				border-radius: 0px;
				padding: 15px 25px;
				width: 100%;
				border-top: 0px;
			}
			.panel-default>.panel-heading+.panel-collapse>.panel-body {
				background-color: #e5e5e5;
				padding-top: 0px;
				padding-bottom: 0px;
				padding: 10px;
			}
			.panel-body ul {
				margin-left: -15px;
				margin-right: -15px;
				margin-bottom: 0px;
			}

			.panel-group {
				margin-bottom: 0px;
				background-color: #515354;
			}
			.panel-body ul li {
				padding-left: 25px;
				border-bottom: 0.5px solid #bfbfbf;
				padding-bottom: 8px;
				padding-top: 8px;
			}

			.panel-body li a {
				color: #252525;
				text-transform: initial;
				font-size: 16px;
			}

			.panel-group .panel {
				margin-bottom: 0px;
				border-radius: 0px;
				margin-top:0px !important;
				border: 0px;
				border-bottom: 0.5px solid #737373;
				background-color: #515354;
			}


			.panel-title {
				padding-left: 5px;
				font-size: 20px;
			}

			.panel-title a {
				text-indent: -10px;
			}

			/***** Início CSS da barra de pesquisa ******/
			/*.navbar .col-xs-6 {
				top:50%;
				transform: translateY(-50%);
				position: absolute;
				left: 10%;
			}*/

			#esf-pesquisa input {
				border-radius: 0px;
				border-color: transparent;
				box-shadow: none;
				height: 40px;
				background-color: #696769;
			}
			#esf-pesquisa span .btn-default{
				border-radius: 0px;
				border-color: transparent;
				margin-left: -2px;
				height: 40px;
				background-color: #696769;

			}

			#esf-pesquisa i.fa-search {
				color: #F47839;
				font-size: 1.5em;
			}

			#esf-pesquisa ::-webkit-input-placeholder{
				font-style: italic;
				color: #FFFFFF;
			}

			#esf-pesquisa {

				margin-top: 10%;
				margin-bottom: 15%;

			}
			/***** Fim CSS da barra de pesquisa ******/
			/*footer#timeline-footer {
			  padding: 20px 0;
		    background-color: #000;
		    margin-top: 4%;
		    bottom: 0;
		    position: fixed;
		    width: 100%;
		  }*/

			/* The Overlay (background) */
			.overlay {
				/* Height & width depends on how you want to reveal the overlay (see JS below) */
				height: 100%;
				width: 0;
				position: fixed; /* Stay in place */
				z-index: 1; /* Sit on top */
				right: 0;
				top: 0;
				background-color: #515354;
				overflow-x: hidden; /* Disable horizontal scroll */

				transition: 0.3s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
			}
			#close-menu {
				position: absolute;
				top: 17px;
				left: 93%;
				font-size: 30px;
			}

			/*.overlay-content {
				position: relative;
				top: 25%;
				width: 100%;
				text-align: center;
				margin-top: 30px;
			}*/

			#mobile-menu {
				background-color: #ECEDED;
				margin-bottom: 5%;
				height: 70px;
				margin-left: -15px;
				margin-right: -15px;
			}

			#mobile-menu .row{
				max-width: 100%;
			}

			.sub-menu {
				color:#000;
				padding: 6px;
				font-size: 14px;
			}
		/****************** Fim do CSS Geral **********************/

		/****************** Início Página Inicial **********************/
			#pagina-inicial {
				padding-top: 20%;
			}
			#secao-inicial .row#patrocinadores{
				margin-top:70px;
				height: 70px;
				background-color: #FFFFFF
			}
			.patrocinadores-col {
				top:50%;
				transform: translateY(-50%);
			}

			#prefeitura-mg{
				width: 30%;
			}
			#piranhas{
				width: 35%;
			}
			#rems{
				width: 65%;
			}
			#supremo{
				width: 80%;
			}
			#hr-top {
				margin-top: 4px;
				margin-bottom: 0px;
				position: absolute;
				width: 100%;
				border: 1px solid #F47839;
			}
			#hr-bottom {
				position: absolute;
				margin-top: 53px;
				width: 100%;
				border: 1px solid #F47839;
			}

			#about-project-button {
				background-color: #F47839;
				border-radius: 0px;
				position: relative;
				bottom: 0%;
				left: 0;
				margin-top: 100%;
			}

			#about-project-title {
				vertical-align: middle;
				margin: 0;
				padding: 15px 20px;
				text-align: center;
				font-size: 18px;
				color: #FFFFFF;
				font-weight: 100;
				text-transform: none;
			}
			#about-project-title a:visited,  #about-project-title a, #about-project-title a:focus, #about-project-title a:hover {
				text-decoration: none;
				color: white;
			}

			#esf-background {
				background-image: url(../img/ESF-header.jpg);
				height: 539.5px; /* Refazer no js - calcular tamanho da h da tela e tirar do tamanho do menu e do banner inferior(patrocinadores)*/
				background-size: cover;
				background-position: 15% center;
				/* background-clip: padding-box; */
				background-repeat: no-repeat;
				/* position: absolute; */
				/* margin-top: 149px; */
				max-width: 100%;
			}
		/****************** Fim Página Inicial **********************/

		/****************** Início Página História **********************/
			.saiba-mais-button {

				background-color: #138f45;
				border-radius: 0px;
				margin-bottom: 5%;
				margin-top: 5%;

			}

			.saiba-mais-button-title {
				vertical-align: middle;
				margin: 0;
				padding: 20px;
				text-transform: initial;
				font-weight: 400;
				color: #FFFFFF;
				text-align: center;
				font-size: 15px;
			}

			.historia-section{
				padding-top:15%;
			}
			.historia-image {
				height: 250px;
				border: 1px solid #e5e5e5;
				margin-bottom: 5%;
				background-image: url('../img/ESF-header.jpg');
				background-clip: content-box;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat ;
			}
		/****************** Fim Página História **********************/

		/****************** Início Página Depoimentos **********************/
			.depoimento-nome{
				text-align: right;
				font-weight: bolder;
				font-size: 16px;
				margin-bottom: 0px;
				color: #F47839;
			}

			.depoimento-id {
				text-align: right;
				font-style: italic;
				margin-bottom: 20%;
			}

			.depoimentos-section{
				padding-top:25%;
			}

			.depoimentos-image {
				width: 200px;
				height: 200px;
				border-radius: 50%;
				/*border: 0.5px solid #888;*/
				margin: auto;
			}

			#lucimar {
				background-image: url('../img/lucimar-e-filhos.jpg');
				background-clip: content-box;
				background-size: cover;
				background-position: left 0;
			}

			#ana-cecilia {
				background-image: url('../img/ana-cecilia.jpg');
				background-clip: content-box;
				background-size: cover;
				background-position: left 0;
			}

			#flavio {
				background-image: url('../img/representante-esf-al.jpg');
				background-clip: content-box;
				background-size: cover;
				background-position: 62% 0;
			}

			#maria-lages {
				background-image: url('../img/maria-lages.JPG');
				background-clip: content-box;
				background-size: cover;
				background-position: left 0;
			}

			#rui-ferraz {
				background-image: url('../img/rui-ferraz.jpg');
				background-clip: content-box;
				background-size: cover;
				background-position: 22% center;
			}
		/****************** Fim Página Depoimentos **********************/

		/****************** Início Página Linha do tempo *******************/

			.arrowElement {
				color:white;
				font-size: 20px;
				text-indent: 5px;
			}

			#linha-do-tempo-section {
				padding-top:25%;
				/*height: 100%;*/
				display: table;
				width: 100%;
				height: 100%;
				padding:0;
				text-align: center;
				color: #fff;

			}

			#linha-do-tempo-section .container {
				/*height: 100%;*/
				display: table-cell;
				vertical-align: top;
				padding-top: 25%;
			}

			/*#linha-do-tempo-section .panel:last-child {
				margin-bottom: 10%;
			}*/

			#accordion-timeline.panel-group{
				background-color: transparent;
			}

			#accordion-timeline .panel-title  {
				text-align: center;
				padding:10px;
			}

			#accordion-timeline .panel-title a {
				font-size: 24px;
				color: white;
			}
			#accordion-timeline .panel-title a:active {
				color: white;
			}
			#accordion-timeline .panel-default {
				border: none;
				border-radius: 0px;
				background-color: transparent;
				margin-bottom: 10px;
			}
			#accordion-timeline .panel-heading {
				border-radius: 0px;
			}

			.timeline-year{
				font-family: Roboto, Arial;
			}

			#accordion-timeline .panel-title .timeline-year {
				line-height: 60px;
				font-size: 36px;
				font-weight: 300;
			}

			.panel-group#accordion-timeline {
				margin-left: -15px;
				margin-right: -15px;
			}

			.timeline .timeline-item:after, .timeline .timeline-item:before {
				content: '';
				display: block;
				width: 100%;
				clear: both;
			}

			.timeline-content p {
				color: black;
				margin-top: -2px;
			}

			*, *:before, *:after {
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
			}

			.timeline-container {
				max-width: 1100px;
				margin: 0 auto;
			}

			.project-name {
				text-align: center;
				padding: 10px 0;
			}

			.timeline {
				width: 100%;
				margin: 30px auto;
				position: relative;
				padding: 0 10px;
				-webkit-transition: all 0.4s ease;
				-moz-transition: all 0.4s ease;
				-ms-transition: all 0.4s ease;
				transition: all 0.4s ease;
			}

			.timeline:before {
				content: "";
				width: 3px;
				height: 100%;
				background: #ee4d4d;
				left: 15%;
				top: 0;
				position: absolute;
			}

			.timeline:after {
				content: "";
				clear: both;
				display: table;
				width: 100%;
			}
			.timeline-year:hover {
				text-decoration: none;
			}
			.timeline .timeline-item {
				margin-bottom: 50px;
				position: relative;
			}

			.timeline .timeline-item .timeline-icon {
				background: #e5e5e5;
				width: 15px;
				height: 15px;
				position: absolute;
				top: 0;
				left: 16.4%;
				overflow: hidden;
				margin-left: -23px;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				-ms-border-radius: 50%;
				border-radius: 50%;
			}

			.timeline .timeline-item .timeline-icon svg {
				position: relative;
				top: 14px;
				left: 14px;
			}

			.timeline .timeline-item .timeline-content {
				width: 74%;
				background: #e5e5e5;
				padding: 20px;
				/*-webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);*/
				/*-moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);*/
				/*-ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);*/
				/*box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);*/
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				-ms-border-radius: 5px;
				border-radius: 5px;
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-ms-transition: all 0.3s ease;
				transition: all 0.3s ease;
			}

			.timeline .timeline-item .timeline-content h2 {
				padding: 15px;
				font-size: 20px;
				background: #e5e5e5;
				color: #444444;
				margin: -20px -20px 0 -20px;
				font-weight: 300;
				-webkit-border-radius: 3px 3px 0 0;
				-moz-border-radius: 3px 3px 0 0;
				-ms-border-radius: 3px 3px 0 0;
				border-radius: 3px 3px 0 0;
			}

			.timeline .timeline-item .timeline-content:before {
				/*content: '';*/
				/*position: absolute;*/
				/*left: 45%;*/
				/*top: 20px;*/
				/*width: 0;*/
				/*height: 0;*/
				/*border-top: 7px solid transparent;*/
				/*border-bottom: 7px solid transparent;*/
				/*border-left: 7px solid #ee4d4d;*/
			}

			.timeline .timeline-item .timeline-content.right {
				float: right;
				width: 80%;
				padding-top: 0px;
				padding-left: 5px;
				padding-right: 5px;
				text-align: justify;
			}

			.timeline .timeline-item .timeline-content.left {
				width: 10%;
				padding-top: 5px ;
				/*padding-left: 0px;*/
				padding-right: 0px;
			}

			.timeline .timeline-item .timeline-content h2.month-name{
				/*margin-right: 5px;*/
				font-size: 15px ;
				text-align: center;
			}

			.timeline .timeline-item .timeline-content.right:before {
				/*content: '';*/
				/*right: 73.5%;*/
				/*left: inherit;*/
				/*border-left: 0;*/
				/*border-right: 7px solid #ee4d4d;*/
			}

			/* Início linha do tempo 2016 */
			#collapse-2016 .timeline:before {
				content: "";
				width: 3px;
				height: 100%;
				background: #369C41;
				left: 15%;
				top: 0;
				position: absolute;
			}
			#collapse-2016 .timeline .timeline-item .timeline-icon {
				border: 2px solid #369C41;
			}
			#collapse-2016 .timeline .timeline-item .timeline-content.right:before {
				border-right: 7px solid #369C41;
			}
			/* Fim linha do tempo 2016 */

			/* Início linha do tempo 2015 */
			#collapse-2015 .timeline:before {
				content: "";
				width: 3px;
				height: 100%;
				background: #369C41;
				left: 15%;
				top: 0;
				position: absolute;
			}
			#collapse-2015 .timeline .timeline-item .timeline-icon {
				border: 2px solid #369C41;
			}
			#collapse-2015 .timeline .timeline-item .timeline-content.right:before {
				border-right: 7px solid #369C41;
			}
			/* Fim linha do tempo 2015 */

			/* Início linha do tempo 2014 */
			#collapse-2014 .timeline:before {
				content: "";
				width: 3px;
				height: 100%;
				background: #2782A2;
				left: 15%;
				top: 0;
				position: absolute;
			}
			#collapse-2014 .timeline .timeline-item .timeline-icon {
				border: 2px solid #2782A2;

			}

			#collapse-2014 .timeline .timeline-item .timeline-content.right:before {
				border-right: 7px solid #2782A2;
			}
			/* Fim linha do tempo 2014 */

			/* Início linha do tempo 2013 */
			#collapse-2013 .timeline:before {
				content: "";
				width: 3px;
				height: 100%;
				background: #A1275B;
				left: 15%;
				top: 0;
				position: absolute;
			}
			#collapse-2013 .timeline .timeline-item .timeline-icon {
				border: 2px solid #A1275B;
			}

			#collapse-2013 .timeline .timeline-item .timeline-content.right:before {
				border-right: 7px solid #A1275B;
			}


			/* Fim linha do tempo 2013 */
			.timeline-mobile-title {
				font-size: 34px;
				color: #666;
			}

			.year-container {
				/*background-color: #c0c0c0;*/
				margin-top: 15px;
			}

			.year-itself {
				color: #fff;
				font-size: 32px;
				padding: 15px;
				background-color: #888;
				font-family: 'Roboto', sans-serif;
			}
		/****************** Fim Página Linha do tempo **********************/

		/****************** Início Página Contato **********************/
		#contato-heading {
			text-transform: none;
		    padding: 0px 0px;
		    font-size: 32px;
		    font-weight: 100;
		    margin-top: -5%;
		}

		#contato-section {
			padding-top: 70px;
		}

		#contato-form input::-webkit-input-placeholder, #contato-form textarea::-webkit-input-placeholder {
			font-style: italic;
		}

		#contato-form input:-moz-placeholder, #contato-form textarea:-moz-placeholder {
			font-style: italic;
		}

		#contato-form input::-moz-placeholder, #contato-form textarea::-moz-placeholder {
			font-style: italic;
		}

		#contato-form input:-ms-input-placeholder, #contato-form textarea:-ms-input-placeholder {
			font-style: italic;
		}

		#contato-form input {
			width: 100%;
			background-color: #CCCCCC;
			border: 0px;
			margin-bottom: 5%;
			padding: 3% 0%;
			padding-left: 4%;
		}

		#contato-form textarea {
			width: 100%;
			background-color: #CCCCCC;
			border: 0px;
			margin-bottom: 5%;
			padding: 2% 4%;
			padding-bottom: 20%;
			resize: none;
		}

		#contato-form input, #contato-form textarea, #contato-form #submit-button {
			border-radius: 0px;
		}

		#contato-form #submit-button{
			width: 100%;
			background-color: #F47839;
			color: #FFFFFF;
			border: 0px;
			margin-top: -5px;
			padding: 3%;
			padding-left: 3%;
			margin-bottom: 20px;
			font-size: 16px;
			font-weight: bold
		}

		#contato-form {
			margin-top: 20%;
		}

		#contato-header{
			width:100%;
			height: 150px;
			/*border:1px solid black;*/
			background-image: url(../img/ESF-header.jpg);
			background-clip: content-box;
			background-size: cover;
			background-position: center 5%;
		}
		/****************** Fim Página Contato **********************/

		/****************** Início Página Apoie **********************/
		#accordion-apoie {
			margin: 0px -15px;
		}

		.accordion-group {
			margin-bottom: 4px;
		}

		.apoie-title {
			font-size: 20px;
		}

		.accordion-heading {
			padding: 8px 20px;
			background-color: white;
			text-align: left;
		}

		.accordion-heading a {
			text-decoration: none;
			font-size: 20px;
			text-transform: uppercase;
			font-weight: bold;
			color: #FFFFFF;
		}

		/*.accordion-heading a:focus{
			background-color: #bcbec0;
		}*/
		.accordion-heading.active, #financiador-heading.active,
		#colaborador-heading.active, #apoiador-heading.active,
		#tecnico-heading.active{
			background-color: gray;
		}

		#financiador-heading {
			background-color: #5EAEDF;

		}

		#apoiador-heading {
			background-color: #61BF7A;

		}

		#colaborador-heading {
			background-color: #B22A90;

		}

		#tecnico-heading {
			background-color: #BE4534;

		}

		.accordion-heding a:focus, .accordion a:hover{
			/**/
		}

		/*.accordion-body {
	    	padding: 15px 20px;
		}*/

		.accordion-inner {
			text-align: justify;
			padding: 15px 20px;
		}

		#apoie-button {
			background-color: #F47839;
			border-radius: 0px;
			margin-bottom: 5%;
			margin-top: 15%;
		}

		#apoie-button-title {
			vertical-align: middle;
			margin: 0;
			padding: 20px;
			text-transform: initial;
			font-weight: 400;
			color: #FFFFFF;
			text-align: center;
			font-size: 18px;
		}

		.apoie-caret{
			color: #FFFFFF;
			padding-left: 6px;
			font-size: 16px;
		}
		/****************** Fim Página Apoie **********************/

		/****************** Início Página Ações **********************/
		.acao-title {
			font-size: 24px;
			text-transform: none;
			text-align: center;
		}

		.acao-button {
			background-color: #F47839;
			padding: 12px 6px;
			font-size: 20px;
			text-align: center;
			color: #FFFFFF;
			margin-bottom: 10%;
		}

		.acao-button:hover, .acao-button:focus, .acao-button:active {
			text-decoration: none;
		}
		#acoes-section{
			padding-top:25%;
		}
		/****************** Fim Página Ações **********************/

		/****************** Início Página Notícias **********************/
		/*.date-wrapper {*/
		/*background-color: #888;*/
		/*height: 100px;*/
		/*width: 90px;*/
		/*}*/

		/*.day-wrapper {*/
		/*background-color: #ffffff;*/
		/*color: #888;*/
		/*width: 80px;*/
		/*height: 50px;*/
		/*margin: auto;*/
		/*font-family: 'Roboto', Arial;*/
		/*font-size: 40px;*/
		/*text-align: center;*/
		/*left: 20px;*/
		/*position: absolute;*/
		/*margin-top: 5px;*/
		/*font-weight: bold;*/
		/*}*/

		/*.infos {*/
		/*color: #ffffff;*/
		/*position: absolute;*/
		/*top: 60px;*/
		/*left: 20px;*/
		/*text-align: center;*/
		/*width: 80px;*/
		/*font-family: 'Roboto', Arial;*/
		/*font-weight:bolder;*/
		/*font-size: 14px;*/

		/*}*/

		.midia-title{
			font-size: 17px;
			text-transform: none;
			font-weight: bold;
			font-family: "Roboto", Arial, sans-serif;
			margin-left: -5px;
			color: #888;
			letter-spacing: normal;
		}

		.midia-button{
			font-size: 18px;
			text-align: center;
			padding: 15px;
			background: #F47839;
			margin-left: -5px;
			color: #ffffff;
			text-transform: none;
			letter-spacing: normal;
		}

		.midia-item{
			margin-top: 10%;
			margin-bottom: 5%;
		}

		#midia-section{
			margin-top:67.5px;
			background-color: #fff;
			padding-top: 0px;
		}

		#midia-header{
			width:100%;
			height: 150px;
			/*border:1px solid black;*/
			background-image: url(../img/ESF-header.jpg);
			background-clip: content-box;
			background-size: cover;
			background-position: center 5%;
		}
		/****************** Fim Página Notícias **********************/


	}

