/* CSS para tela de sucesso e fracasso do formulario de contato */



h1 {
	font-size: 40px;
	text-align: center;
	font-weight: 300;	
}

h2 {
	font-size: 26px;
	text-align: center;
	font-style: italic;
	font-weight: 500;
	color: #888;	
}

body, html {
	height: 100%;
	width: 100%;
}


img {
	margin-top: 10%;
	width: 80%;
	margin-left: auto;
	margin-right: auto
}

#erro-title {
	color:#F44336;
}

#sucesso-title {
	color:#F47839;
}

/*iphone 4*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  	h1 {
  		font-size: 19px;
  		text-align: center;
  		font-weight: 300;	
  	}

  	h2 {
  		font-size: 14px;
  		text-align: center;
  		font-style: italic;
  		font-weight: 500;
  		color: #888;	
  	}

  	body, html {
  		height: 100%;
  		width: 100%;
  	}


  	img {
  		margin-top: 10%;
  		width: 55%;
  		margin-left: auto;
  		margin-right: auto
  	}

  }


/*iphone 6*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  	h1 {
  		font-size: 23px;
  		text-align: center;
  		font-weight: 300;	
  	}

  	h2 {
  		font-size: 15px;
  		text-align: center;
  		font-style: italic;
  		font-weight: 500;
  		color: #888;	
  	}

  	body, html {
  		height: 100%;
  		width: 100%;
  	}


  	img {
  		margin-top: 10%;
  		width: 60%;
  		margin-left: auto;
  		margin-right: auto
  	}
}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
	img {
		margin-top: 10%;
		width: 65%;
		margin-left: auto;
		margin-right: auto
	}
}



